@model IEnumerable<BlogViewModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <!--=====================================
                META-TAG PART START
    =======================================-->
    <!-- REQUIRE META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- AUTHOR META -->
    <meta name="author" content="Mironcoder">
    <meta name="email" content="mironcoder@gmail.com">
    <meta name="profile" content="https://themeforest.net/user/mironcoder">

    <!-- TEMPLATE META -->
    <meta name="name" content="Classicads">
    <meta name="type" content="Classified Advertising">
    <meta name="title" content="Classicads - Classified Ads HTML Template">
    <meta name="keywords" content="classicads, classified, ads, classified ads, listing, business, directory, jobs, marketing, portal, advertising, local, posting, ad listing, ad posting,">
    <!--=====================================
                META-TAG PART END
    =======================================-->
    <!-- FOR WEBPAGE TITLE -->
    <title>Blog List - Classicads</title>

    <!--=====================================
                CSS LINK PART START
    =======================================-->
    <!-- FAVICON -->
    <link rel="icon" href="images/favicon.png">

    <!-- FONTS -->
    <link rel="stylesheet" href="~/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/fonts/font-awesome/fontawesome.css">

    <!-- VENDOR -->
    <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="~/css/custom/main.css">
    <link rel="stylesheet" href="~/css/custom/blog-list.css">
    <!--=====================================
                CSS LINK PART END
    =======================================-->
</head>
<body>

    <!--=====================================
              SINGLE BANNER PART START
    =======================================-->
    <section class="single-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content">
                        <h2>blog list</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Dashboard">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Manage Blogs</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
              SINGLE BANNER PART END
    =======================================-->
    <!--=========================================
                BLOG LIST PART START
    ===========================================-->
    <section class="blog-part">
        <div class="container">
            <div class="row content-reverse">
                <div class="col-lg-4">
                    <div class="row">

                        <!-- SEARCH BAR -->
                        <div class="col-lg-12">
                            <div class="blog-sidebar">
                                <div class="blog-sidebar-title">
                                    <h5>Search</h5>
                                </div>
                                <form class="blog-src">
                                    <input type="text" placeholder="Search...">
                                    <button><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </div>

                        <!-- POPULAR POST -->
                        <div class="col-md-8 col-lg-12 m-auto">
                            <div class="blog-sidebar">
                                <div class="blog-sidebar-title">
                                    <h5>popular post</h5>
                                </div>
                                <ul class="blog-suggest">
                                    <li>
                                        <div class="suggest-img">
                                            <a href="#"><img src="images/blog-suggest/01.jpg" alt="blog"></a>
                                        </div>
                                        <div class="suggest-content">
                                            <div class="suggest-title">
                                                <h4><a href="blog-details.html">Lorem ipsum dolor amet elit cusamus aliquid.</a></h4>
                                            </div>
                                            <div class="suggest-meta">
                                                <div class="suggest-date">
                                                    <i class="far fa-calendar-alt"></i>
                                                    <p>02 feb 2020</p>
                                                </div>
                                                <div class="suggest-comment">
                                                    <i class="far fa-comments"></i>
                                                    <p>16</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="suggest-img">
                                            <a href="#"><img src="images/blog-suggest/02.jpg" alt="blog"></a>
                                        </div>
                                        <div class="suggest-content">
                                            <div class="suggest-title">
                                                <h4><a href="blog-details.html">Lorem ipsum dolor amet elit cusamus aliquid.</a></h4>
                                            </div>
                                            <div class="suggest-meta">
                                                <div class="suggest-date">
                                                    <i class="far fa-calendar-alt"></i>
                                                    <p>02 feb 2020</p>
                                                </div>
                                                <div class="suggest-comment">
                                                    <i class="far fa-comments"></i>
                                                    <p>13</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="suggest-img">
                                            <a href="#"><img src="images/blog-suggest/03.jpg" alt="blog"></a>
                                        </div>
                                        <div class="suggest-content">
                                            <div class="suggest-title">
                                                <h4><a href="blog-details.html">Lorem ipsum dolor amet elit cusamus aliquid.</a></h4>
                                            </div>
                                            <div class="suggest-meta">
                                                <div class="suggest-date">
                                                    <i class="far fa-calendar-alt"></i>
                                                    <p>02 feb 2020</p>
                                                </div>
                                                <div class="suggest-comment">
                                                    <i class="far fa-comments"></i>
                                                    <p>19</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- TOP CATEGORY -->
                        <div class="col-md-8 col-lg-12 m-auto">
                            <div class="blog-sidebar">
                                <div class="blog-sidebar-title">
                                    <h5>Top categories</h5>
                                </div>
                                <ul class="blog-cate">
                                    <li>
                                        <h5><a href="#">Technology</a></h5>
                                        <p>23</p>
                                    </li>
                                    <li>
                                        <h5><a href="#">Education</a></h5>
                                        <p>17</p>
                                    </li>
                                    <li>
                                        <h5><a href="#">Business</a></h5>
                                        <p>09</p>
                                    </li>
                                    <li>
                                        <h5><a href="#">Freelancing</a></h5>
                                        <p>12</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- BEST TAGS -->
                        <div class="col-md-8 col-lg-12 m-auto">
                            <div class="blog-sidebar">
                                <div class="blog-sidebar-title">
                                    <h5>Best tags</h5>
                                </div>
                                <ul class="blog-tag">
                                    <li><a href="#">domain</a></li>
                                    <li><a href="#">cloud</a></li>
                                    <li><a href="#">web</a></li>
                                    <li><a href="#">offer</a></li>
                                    <li><a href="#">support</a></li>
                                    <li><a href="#">payment</a></li>
                                    <li><a href="#">E-commerce</a></li>
                                    <li><a href="#">Sequerity</a></li>
                                    <li><a href="#">solution</a></li>
                                    <li><a href="#">knowladge</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- FOLLOW US -->
                        <div class="col-md-8 col-lg-12 m-auto">
                            <div class="blog-sidebar">
                                <div class="blog-sidebar-title">
                                    <h5>follow us</h5>
                                </div>
                                <ul class="blog-icon">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        @foreach (var blog in Model)
                        {
                            <div class="col-sm-10 col-md-6 col-lg-6 m-auto">
                                <div class="blog-card">
                                    <div class="blog-img">
                                        @{
                                            var hasImage = blog.featuredImage != null && blog.featuredImage.Length > 0;
                                            var imageSrc = hasImage
                                            ? $"data:image/png;base64,{Convert.ToBase64String(blog.featuredImage)}"
                                            : Url.Content("~/images/white-screen.jpg");
                                        }
                                        <img src="@imageSrc" alt="blog" width="348" height="209" />
                                        <div class="blog-overlay">
                                            <span class="@blog.categoryName">@blog.categoryName</span>
                                        </div>
                                    </div>
                                    <div class="blog-content">
                                        <a href="#" class="blog-avatar">
                                            <img src="~/images/user.png" alt="avatar">
                                        </a>
                                        <ul class="blog-meta">
                                            <li>
                                                <i class="fas fa-user"></i>
                                                <p><a href="#">@blog.author</a></p>
                                            </li>
                                            <li>
                                                <i class="fas fa-clock"></i>
                                                <p>@blog.publishedDate.ToString("dd MMM yyyy")</p>
                                            </li>
                                        </ul>
                                        <div class="blog-text">
                                            <h4><a href="blog-details.html">@blog.title</a></h4>
                                            <p>@blog.summary</p>
                                        </div>
                                        <a asp-controller="Dashboard" asp-action="BlogDetails" asp-route-blogId="@blog.blogId" class="blog-read">
                                            <span>read more</span>
                                            <i class="fas fa-long-arrow-alt-right"></i>
                                        </a>
                                        <a asp-controller="User" asp-action="UpdateBlog" asp-route-blogId="@blog.blogId" class="fas fa-edit"></a>
                                        <a asp-controller="User" asp-action="DeleteBlog" asp-route-blogId="@blog.blogId" class="fas fa-trash"></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            @{
                                int currentPage = ViewBag.CurrentPage ?? 1;
                                int totalPages = ViewBag.TotalPages ?? 1;
                            }

                            <ul class="pagination">
                                <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                                    <a class="page-link" asp-action="ManageBlogs" asp-route-pageNumber="@(currentPage - 1)">
                                        <i class="fas fa-long-arrow-alt-left"></i>
                                    </a>
                                </li>
                                @for (int i = 1; i <= totalPages; i++)
                                {
                                    <li class="page-item @(i == currentPage ? "active" : "")">
                                        <a class="page-link" asp-action="BlogsByUser" asp-route-pageNumber="@i">@i</a>
                                    </li>
                                }
                                <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                                    <a class="page-link" asp-action="ManageBlogs" asp-route-pageNumber="@(currentPage + 1)">
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=========================================
                    BLOG LIST PART END
    ===========================================-->
    <!--=====================================
                FOOTER PART PART
    =======================================-->
    <footer class="footer-part">
        <div class="container">
            <div class="row newsletter">
                <div class="col-lg-6">
                    <div class="news-content">
                        <h2>Subscribe for Latest Offers</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, aliquid reiciendis! Exercitationem soluta provident non.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form class="news-form">
                        <input type="text" placeholder="Enter Your Email Address">
                        <button class="btn btn-inline">
                            <i class="fas fa-envelope"></i>
                            <span>Subscribe</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="footer-content">
                        <h3>Contact Us</h3>
                        <ul class="footer-address">
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                <p>1420 West Jalkuri Fatullah, <span>Narayanganj, BD</span></p>
                            </li>
                            <li>
                                <i class="fas fa-envelope"></i>
                                <p>support@classicads.com <span>info@classicads.com</span></p>
                            </li>
                            <li>
                                <i class="fas fa-phone-alt"></i>
                                <p>+8801838288389 <span>+8801941101915</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="footer-content">
                        <h3>Quick Links</h3>
                        <ul class="footer-widget">
                            <li><a href="#">Store Location</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Size Guide</a></li>
                            <li><a href="#">Faq</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="footer-content">
                        <h3>Information</h3>
                        <ul class="footer-widget">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery System</a></li>
                            <li><a href="#">Secure Payment</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="footer-info">
                        <a href="#"><img src="images/logo.png" alt="logo"></a>
                        <ul class="footer-count">
                            <li>
                                <h5>929,238</h5>
                                <p>Registered Users</p>
                            </li>
                            <li>
                                <h5>242,789</h5>
                                <p>Community Ads</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-card-content">
                        <div class="footer-payment">
                            <a href="#"><img src="images/pay-card/01.jpg" alt="01"></a>
                            <a href="#"><img src="images/pay-card/02.jpg" alt="02"></a>
                            <a href="#"><img src="images/pay-card/03.jpg" alt="03"></a>
                            <a href="#"><img src="images/pay-card/04.jpg" alt="04"></a>
                        </div>
                        <div class="footer-option">
                            <button type="button" data-toggle="modal" data-target="#language"><i class="fas fa-globe"></i>English</button>
                            <button type="button" data-toggle="modal" data-target="#currency"><i class="fas fa-dollar-sign"></i>USD</button>
                        </div>
                        <div class="footer-app">
                            <a href="#"><img src="images/play-store.png" alt="play-store"></a>
                            <a href="#"><img src="images/app-store.png" alt="app-store"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-end">
            <div class="container">
                <div class="footer-end-content">
                    <p>All Copyrights Reserved &copy; 2021 - Developed by <a href="#">Mironcoder</a></p>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--=====================================
                FOOTER PART END
    =======================================-->
    <!--=====================================
              CURRENCY MODAL PART START
    =======================================-->
    <div class="modal fade" id="currency">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Currency</h4>
                    <button class="fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">United States Doller (USD) - $</button>
                    <button class="modal-link">Euro (EUR) - €</button>
                    <button class="modal-link">British Pound (GBP) - £</button>
                    <button class="modal-link">Australian Dollar (AUD) - A$</button>
                    <button class="modal-link">Canadian Dollar (CAD) - C$</button>
                </div>
            </div>
        </div>
    </div>
    <!--=====================================
              CURRENCY MODAL PART END
    =======================================-->
    <!--=====================================
              LANGUAGE MODAL PART END
    =======================================-->
    <div class="modal fade" id="language">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Language</h4>
                    <button class="fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">English</button>
                    <button class="modal-link">bangali</button>
                    <button class="modal-link">arabic</button>
                    <button class="modal-link">germany</button>
                    <button class="modal-link">spanish</button>
                </div>
            </div>
        </div>
    </div>
    <!--=====================================
               LANGUAGE MODAL PART END
    =======================================-->
    <!--=====================================
                JS LINK PART START
    =======================================-->
    <!-- VENDOR -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>

    <!-- CUSTOM -->
    <script src="js/custom/main.js"></script>
    <!--=====================================
                JS LINK PART END
    =======================================-->
</body>
</html>