@model DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--=====================================
                META-TAG PART START
    =======================================-->


    <!-- VENDOR -->
    <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="~/css/custom/main.css">
    <link rel="stylesheet" href="~/css/custom/dashboard.css">
    <!--=====================================
                CSS LINK PART END
    =======================================-->
</head>
<body>
    <!--=====================================
              SINGLE BANNER PART START
    =======================================-->
    <section class="single-banner dashboard-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content">
                        <h2>dashboard</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="navigate-link" asp-controller="Dashboard" asp-action="Dashboard">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
              SINGLE BANNER PART END
    =======================================-->
    <!--=====================================
            DASHBOARD HEADER PART START
    =======================================-->
    <section class="dash-header-part">
        <div class="container">
            <div class="dash-header-card">
                <partial name="~/Views/Shared/_ProfileCard.cshtml" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="dash-menu-list">
                            <ul>
                                <li><a class="navigate-link" asp-controller="User" class="active" asp-action="Dashboard">Dashboard</a></li>
                                <li><a class="navigate-link" asp-controller="User" asp-action="Profile">Profile</a></li>
                                <li><a class="navigate-link" asp-controller="User" asp-action="PostAd">Ad Post</a></li>
                                <li><a class="navigate-link" asp-controller="User" asp-action="MyAds">my ads</a></li>
                                <li><a class="navigate-link" asp-controller="User" asp-action="Settings">settings</a></li>
                                <li><a class="navigate-link" asp-controller="User" asp-action="Bookmark">bookmarks</a></li>
                                <li><a class="navigate-link" asp-controller="User" asp-action="Message">message</a></li>
                                <li><a class="navigate-link" asp-controller="User" asp-action="Notification">notification</a></li>
                                <li><a class="navigate-link" asp-controller="Dashboard" asp-action="Logout">logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
            DASHBOARD HEADER PART END
    =======================================-->
    <!--=====================================
                DASHBOARD PART START
    =======================================-->
    <section class="dashboard-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="account-card alert fade show">
                        <div class="account-title">
                            <h3>Newsletter</h3>
                            <button data-dismiss="alert">close</button>
                        </div>
                        <div class="dash-content">
                            <p>@Html.Raw(Model.Newsletter.HtmlBody)</p>
                        </div>
                    </div>
                    @* <div class="account-card alert fade show">
                        <div class="account-title">
                            <h3>Reviews</h3>
                            <button data-dismiss="alert">close</button>
                        </div>
                        <div class="dash-review-widget">
                            <h4>(4) Unread Review</h4>
                            <select class="custom-select">
                                <option selected>Unread Review</option>
                                <option value="1">All Review</option>
                                <option value="2">5 Star Review</option>
                                <option value="3">4 Star Review</option>
                                <option value="3">3 Star Review</option>
                                <option value="3">2 Star Review</option>
                                <option value="3">1 Star Review</option>
                            </select>
                        </div>
                        <ul class="review-list">
                            <li class="review-item">
                                <div class="review-user">
                                    <div class="review-head">
                                        <div class="review-profile">
                                            <a href="#" class="review-avatar">
                                                <img src="images/avatar/03.jpg" alt="review">
                                            </a>
                                            <div class="review-meta">
                                                <h6>
                                                    <a href="#">miron mahmud -</a>
                                                    <span>June 02, 2020</span>
                                                </h6>
                                                <ul>
                                                    <li><i class="fas fa-star active"></i></li>
                                                    <li><i class="fas fa-star active"></i></li>
                                                    <li><i class="fas fa-star active"></i></li>
                                                    <li><i class="fas fa-star active"></i></li>
                                                    <li><i class="fas fa-star active"></i></li>
                                                    <li><h5>- for delivery system</h5></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="review-widget">
                                            <button class="review-dots-btn">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="review-widget-list">
                                                <li><a href="#"><i class="fas fa-trash-alt"></i>Delete</a></li>
                                                <li><a href="#"><i class="fas fa-flag"></i>Report</a></li>
                                                <li><a href="#"><i class="fas fa-shield-alt"></i>Block</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="review-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit Non quibusdam harum ipsum dolor cumque quas magni voluptatibus cupiditate minima quis.</p>
                                </div>
                            </li>
                            <li class="review-item">
                                <div class="review-user">
                                    <div class="review-head">
                                        <div class="review-profile">
                                            <a href="#" class="review-avatar">
                                                <img src="images/avatar/02.jpg" alt="review">
                                            </a>
                                            <div class="review-meta">
                                                <h6>
                                                    <a href="#">labonno khan -</a>
                                                    <span>June 02, 2020</span>
                                                </h6>
                                                <ul>
                                                    <li><i class="fas fa-star active"></i></li>
                                                    <li><i class="fas fa-star active"></i></li>
                                                    <li><i class="fas fa-star active"></i></li>
                                                    <li><i class="fas fa-star active"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><h5>- for product quality</h5></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="review-widget">
                                            <button class="review-dots-btn">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="review-widget-list">
                                                <li><a href="#"><i class="fas fa-trash-alt"></i>Delete</a></li>
                                                <li><a href="#"><i class="fas fa-flag"></i>Report</a></li>
                                                <li><a href="#"><i class="fas fa-shield-alt"></i>Block</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="review-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit Non quibusdam harum ipsum dolor cumque quas magni voluptatibus cupiditate minima quis.</p>
                                </div>
                                <div class="review-author">
                                    <div class="review-head">
                                        <div class="review-profile">
                                            <a href="#" class="review-avatar">
                                                <img src="images/avatar/04.jpg" alt="review">
                                            </a>
                                            <div class="review-meta">
                                                <h6><a href="#">Miron Mahmud</a></h6>
                                                <h6>Author - <span>June 02, 2020</span></h6>
                                            </div>
                                        </div>
                                        <div class="review-widget">
                                            <button class="review-dots-btn">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="review-widget-list">
                                                <li><a href="#"><i class="fas fa-edit"></i>Edit</a></li>
                                                <li><a href="#"><i class="fas fa-trash-alt"></i>Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="review-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit Non quibusdam harum ipsum dolor cumque quas magni voluptatibus cupiditate minima.</p>
                                </div>
                            </li>
                        </ul>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fas fa-long-arrow-alt-left"></i>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">...</li>
                            <li class="page-item"><a class="page-link" href="#">67</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div> *@
                </div>
                <div class="col-lg-4">
                    <div class="account-card alert fade show">
                        <div class="account-title">
                            <h3>Membership</h3>
                            <button data-dismiss="alert">close</button>
                        </div>
                        <ul class="account-card-list">
                            <li><h5>Status</h5><p>@(Model.Membership.IsActive ? "Active" : "InActive")</p></li>
                            <li><h5>Joined</h5><p>@Model.Membership.CreatedDate</p></li>
                            <li><h5>Plan</h5><p>@Model.Membership.strMembershipName</p></li>
                            <li><h5>Ads Limit</h5><p>@Model.Membership.intMembershipAdListing</p></li>
                        </ul>
                    </div>
                    <div class="account-card alert fade show">
                        <div class="account-title">
                            <h3>Current Info</h3>
                            <button data-dismiss="alert">close</button>
                        </div>
                        <ul class="account-card-list">
                            <li><h5>Active Ads</h5><h6>@Model.ActiveAds</h6></li>
                            <li><h5>Booking Ads</h5><h6>@Model.BookingAds</h6></li>
                            <li><h5>Rental Ads</h5><h6>@Model.RentalAds</h6></li>
                            <li><h5>Sales Ads</h5><h6>@Model.SalesAds</h6></li>
                        </ul>
                    </div>
                    @* <div class="account-card alert fade show">
                        <div class="account-title">
                            <h3>Fun fact</h3>
                            <button data-dismiss="alert">close</button>
                        </div>
                        <div class="account-card-content">
                            <p>Your last ad running was 3 days ago and only have 5 hours left until your last ad expires.</p>
                        </div>
                    </div> *@
                    @* <div class="account-card alert fade show">
                        <div class="account-title">
                            <h3>Resources</h3>
                            <button data-dismiss="alert">close</button>
                        </div>
                        <ul class="account-card-link">
                            <li>
                                <a href="#">
                                    <i class="fas fa-dot-circle"></i>
                                    <span>Asset Use Guidelines</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-dot-circle"></i>
                                    <span>Authoring Tutorial</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-dot-circle"></i>
                                    <span>Knowledgebase</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-dot-circle"></i>
                                    <span>Watermarks</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-dot-circle"></i>
                                    <span>Selling Tips</span>
                                </a>
                            </li>
                        </ul>
                    </div> *@
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
                DASHBOARD PART END
    =======================================-->
    <!--=====================================
              CURRENCY MODAL PART START
    =======================================-->
    <div class="modal fade" id="currency">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Currency</h4>
                    <button class="fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">United States Doller (USD) - $</button>
                    <button class="modal-link">Euro (EUR) - €</button>
                    <button class="modal-link">British Pound (GBP) - £</button>
                    <button class="modal-link">Australian Dollar (AUD) - A$</button>
                    <button class="modal-link">Canadian Dollar (CAD) - C$</button>
                </div>
            </div>
        </div>
    </div>
    <!--=====================================
              CURRENCY MODAL PART END
    =======================================-->
    <!--=====================================
              LANGUAGE MODAL PART END
    =======================================-->
    <div class="modal fade" id="language">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Language</h4>
                    <button class="fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">English</button>
                    <button class="modal-link">bangali</button>
                    <button class="modal-link">arabic</button>
                    <button class="modal-link">germany</button>
                    <button class="modal-link">spanish</button>
                </div>
            </div>
        </div>
    </div>
    <!--=====================================
               LANGUAGE MODAL PART END
    =======================================-->
</body>
</html>