@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Ad Post";
                    <link rel="stylesheet" href="~/fonts/flaticon/flaticon.css" />
                    <link rel="stylesheet" href="~/fonts/font-awesome/fontawesome.css" />
                    <link rel="stylesheet" href="~/css/custom/ad-post.css"/>
}

<section class="single-banner dashboard-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>Ad Post</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Dashboard">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Ad-Post</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dash-header-part">
    <div class="container">
        <div class="dash-header-card">
            <partial name="~/Views/Shared/_ProfileCard.cshtml" />
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="dash-menu-list">
                        <ul>
                            <li><a asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a></li>
                            <li><a asp-controller="User" asp-action="Profile">Profile</a></li>
                            <li><a asp-controller="User" class="active" asp-action="PostAd">Ad Post</a></li>
                            <li><a asp-controller="User" asp-action="AdsList">my ads</a></li>
                            <li><a asp-controller="User" asp-action="PostAd">settings</a></li>
                            <li><a asp-controller="User" asp-action="PostAd">bookmarks</a></li>
                            <li><a asp-controller="User" asp-action="PostAd">message</a></li>
                            <li><a asp-controller="User" asp-action="PostAd">notification</a></li>
                            <li><a asp-controller="Dashboard" asp-action="Logout">logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="toast-container"></div>
    </div>
</section>
<section class="adpost-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form class="adpost-form" asp-controller="User" asp-action="PostAd" method="post" enctype="multipart/form-data">
                    <div class="adpost-card">
                        <div class="adpost-title">
                            <h3>Ad Information</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">Product Title</label>
                                    <input type="text" class="form-control" id="productName" name="productName" placeholder="Type your product title here">
                                </div>
                            </div>
                                <div class="form-group col-6">
                                    <label class="form-label">product image</label>
                                    <input type="file" id="productImage" name="productImage" class="form-control">
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">Product Quantity</label>
                                        <input type="number" class="form-control" id="productQuantity" name="productQuantity" placeholder="Enter your pricing amount" />
                                    </div>
                                </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="form-label">Product Category</label>
                                    <select class="form-control custom-select" id="category" name="category" onchange="LoadSubCategories()">
                                        <option selected>Select Category</option>
                                         @foreach (var category in Model.Categories)
                                        {
                                            <option value=@category.CategoryID>@category.CategoryName</option>
                                        }                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="form-label">Product Sub-Category</label>
                                    <select class="form-control custom-select" id="subCategory" name="subCategory" >
                                        <option selected>Select Sub Category</option>
                                        
                                    </select>
                                </div>
                            </div>                            
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="form-label">Price</label>
                                    <input type="number" class="form-control" id="productPrice" name="productPrice" minValue="0" placeholder="Enter your pricing amount" />
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <ul class="form-check-list">
                                        <li>
                                            <label class="form-label">Price Condition</label>
                                        </li>
                                        @* <input type=hidden id="PriceRadioValue" name= /> *@
                                        @foreach(var priceCondition in Model.priceConditions)
                                        {
                                            <li>
                                                <input type="radio" id="@priceCondition.strAdConditionName" name="price_Condition" class="PriceCondition" value="@priceCondition.strAdConditionName" />
                                                <label for="fix-check" class="form-check-text">@priceCondition.strAdConditionName</label>
                                            </li>
                                        }                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <ul class="form-check-list">
                                        <li>
                                            <label class="form-label">Ad Category</label>
                                        </li>
                                         @foreach(var AdCat in Model.Ad_Categories)
                                        {
                                            <li>
                                                <input type="checkbox" class="form-check" id="@AdCat.strAdConditionName" name="Ad_Category" value="@AdCat.strAdConditionName" />
                                                <label for="fix-check" class="form-check-text">@AdCat.strAdConditionName</label>
                                            </li>
                                        } 
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <ul class="form-check-list">
                                        <li>
                                            <label class="form-label">Product Condition</label>
                                        </li>
                                         @foreach(var PrdCond in Model.productConditions)
                                        {
                                            <li>
                                                    <input type="radio" class="form-check" id="@PrdCond.strAdConditionName" name="product_Condition" value="@PrdCond.strAdConditionName" />
                                                <label for="fix-check" class="form-check-text">@PrdCond.strAdConditionName</label>
                                            </li>
                                        }                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">Ad Description</label>
                                    <textarea class="form-control" id="AdDescription" name="AdDescription" placeholder="Describe your message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">Ad Tag</label>
                                    <textarea class="form-control" id="AdTag" name="AdTag" placeholder="Maximum of 15 keywords"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="adpost-card">
                        <div class="adpost-title">
                            <h3>Author Information</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" id="AuthorName" name="AuthorName" value="@Context.Session.GetString("userName")" placeholder="Your Name" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control" id="AuthorEmail" name="AuthorEmail" value="@Context.Session.GetString("Email")" placeholder="Your Email" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Number</label>
                                    <input type="number" class="form-control" id="AuthorMobile" name="AuthorMobile" value="@Context.Session.GetString("Mobile")" placeholder="Your Number" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Address</label>
                                    <input type="text" class="form-control" id="AuthorAddress" name="AuthorAddress" value="@Context.Session.GetString("Address")" placeholder="Your Address" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="adpost-card">
                        <div class="adpost-title">
                            <h3>Plan Information</h3>
                        </div>
                        <ul class="adpost-plan-list">
                            <li>
                                <div class="adpost-plan-content">
                                    <h6>Free Plan - <span>Submit 5 Ad Listings</span></h6>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Delectus minus Eaque corporis accusantium incidunt officiis deleniti.</p>
                                </div>
                                <div class="adpost-plan-meta">
                                    <h3>$00.00</h3>
                                    <button class="btn btn-outline">
                                        <span>Select</span>
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div class="adpost-plan-content">
                                    <h6>Standerd Plan - <span>Submit 10 Ad Listings</span></h6>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Delectus minus Eaque corporis accusantium incidunt officiis deleniti.</p>
                                </div>
                                <div class="adpost-plan-meta">
                                    <h3>$23.00</h3>
                                    <button class="btn btn-outline">
                                        <span>Select</span>
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div class="adpost-plan-content">
                                    <h6>Premium Plan - <span>Unlimited Ad Listings</span></h6>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Delectus minus Eaque corporis accusantium incidunt officiis deleniti.</p>
                                </div>
                                <div class="adpost-plan-meta">
                                    <h3>$43.00</h3>
                                    <button class="btn btn-outline">
                                        <span>Select</span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="adpost-card pb-2">
                        <div class="adpost-agree">
                            <div class="form-group">
                                <input type="checkbox" class="form-check">
                            </div>
                            <p>Send me Trade Email/SMS Alerts for people looking to buy mobile handsets in www By clicking "Post", you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a> and acknowledge that you are the rightful owner of this item and using Trade to find a genuine buyer.</p>
                        </div>
                        <div class="form-group text-right">
                            <button class="btn btn-inline" type="submit">
                                <i class="fas fa-check-circle"></i>
                                <span>published your ad</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="account-card alert fade show">
                    <div class="account-title">
                        <h3>Safety Tips</h3>
                        <button data-dismiss="alert">close</button>
                    </div>
                    <ul class="account-card-text">
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit debitis odio perferendis placeat at aperiam.</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit debitis odio perferendis placeat at aperiam.</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit debitis odio perferendis placeat at aperiam.</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit debitis odio perferendis placeat at aperiam.</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit debitis odio perferendis placeat at aperiam.</p>
                        </li>
                    </ul>
                </div>
                <div class="account-card alert fade show">
                    <div class="account-title">
                        <h3>Custom Offer</h3>
                        <button data-dismiss="alert">close</button>
                    </div>
                    <form class="account-card-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-inline">
                                <i class="fas fa-paper-plane"></i>
                                <span>send Message</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@* <script src="~/js/vendor/popper.min.js" /> *@

<script type="text/javascript">

    function LoadSubCategories() {
        var selectedCategory = $('#category').find(":selected").val();        
        $('#subCategory').empty();
        $('#subCategory').append(new Option("Seect Sub Category"));
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetSubCategories", "User")',
            data: {
                category: selectedCategory,
            },
            success: function (response) {

                if (response.statusCode == 200) {
                    if (response.subCategories.length > 0) {
                        $.each(response.subCategories, function (index, subCat) {
                            $('#subCategory').append(new Option(subCat.subCatergoryName, subCat.subCategoryID));

                        })
                    }

                }
            },
            error: function (error) {

            }
        });

    }
    function priceRadioChange(){
        var checkedRadio=$(".PriceCondition").is(":checked").val();
        alert(checkedRadio);
    }
</script>