﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Post Ad";
    <link rel="stylesheet" href="~/fonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="~/fonts/font-awesome/fontawesome.css" />
    <link rel="stylesheet" href="~/css/custom/ad-post.css" />
}

<section class="single-banner dashboard-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>Ad Post</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Dashboard">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Ad-Post</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dash-header-part">
    <div class="container">
        <div class="dash-header-card">
            <partial name="~/Views/Shared/_ProfileCard.cshtml" />

            <div class="row">
                <div class="col-lg-12">
                    <div class="dash-menu-list">
                        <ul>
                            <li><a asp-controller="User" asp-action="Dashboard">Dashboard</a></li>
                            <li><a asp-controller="User" asp-action="Profile">Profile</a></li>
                            <li><a asp-controller="User" class="active" asp-action="PostAd">Ad Post</a></li>
                            <li><a asp-controller="User" asp-action="MyAds">my ads</a></li>
                            <li><a asp-controller="User" asp-action="Settings">settings</a></li>
                            <li><a asp-controller="User" asp-action="Bookmark">bookmarks</a></li>
                            <li><a asp-controller="User" asp-action="Message">message</a></li>
                            <li><a asp-controller="User" asp-action="Notification">notification</a></li>
                            <li><a asp-controller="Dashboard" asp-action="Logout">logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="adpost-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form id="PostAdForm" class="adpost-form" asp-controller="User" asp-action="PostAd" method="post" enctype="multipart/form-data">
                    <div class="adpost-card">
                        <div class="adpost-title">
                            <h3>Ad Information</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">Product Title<sup style="color: red">*</sup></label>
                                    <input type="text" class="form-control" id="productTitle" name="productName" placeholder="Type your product title here" required>
                                    <small id="productNameError" class="text-danger d-none">Product Title is required.</small>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label">Product Image</label>
                                <input type="file" id="productImage" name="productImage" class="form-control">
                                <small id="productImageError" class="text-danger d-none">Product Image is required.</small>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label">Product Quantity<sup style="color: red">*</sup></label>
                                    <input type="number" class="form-control" id="productQuantity" name="productQuantity" placeholder="Enter your pricing amount" />
                                    <small id="productQuantityError" class="text-danger d-none">Product Quantity is required.</small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="form-label">Product Category<sup style="color: red">*</sup></label>
                                    <select class="form-control custom-select" id="category" name="category" onchange="LoadSubCategories()">
                                        <option value="" selected>Select Category</option>
                                        @foreach (var category in Model.Categories)
                                        {
                                            <option value=@category.CategoryID>@category.CategoryName</option>
                                        }
                                    </select>
                                    <small id="categoryError" class="text-danger d-none">Please select a Category.</small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="form-label">Product Sub-Category<sup style="color: red">*</sup></label>
                                    <select class="form-control custom-select" id="subCategory" name="subCategory">
                                        <option value="" selected>Select Sub Category</option>
                                    </select>
                                    <small id="subCategoryError" class="text-danger d-none">Please select a Sub-Category.</small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="form-label">Price<sup style="color: red">*</sup></label>
                                    <input type="number" class="form-control" id="productPrice" name="productPrice" min="0" placeholder="Enter your pricing amount" />
                                    <small id="productPriceError" class="text-danger d-none">Product Price is required.</small>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <ul class="form-check-list">
                                        <li><label class="form-label">Price Condition<sup style="color: red">*</sup></label></li>
                                        @foreach (var priceCondition in Model.priceConditions)
                                        {
                                            <li>
                                                <input type="radio" id="@priceCondition.strAdConditionName" name="price_Condition" class="PriceCondition" value="@priceCondition.strAdConditionName" />
                                                <label for="fix-check" class="form-check-text">@priceCondition.strAdConditionName</label>
                                            </li>
                                        }
                                    </ul>
                                    <small id="priceConditionError" class="text-danger d-none">Please select a Price Condition.</small>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <ul class="form-check-list">
                                        <li><label class="form-label">Ad Category<sup style="color: red">*</sup></label></li>
                                        @foreach (var AdCat in Model.Ad_Categories)
                                        {
                                            <li>
                                                <input type="checkbox" class="form-check" id="@AdCat.strAdConditionName" name="Ad_Category" value="@AdCat.strAdConditionName" />
                                                <label for="fix-check" class="form-check-text">@AdCat.strAdConditionName</label>
                                            </li>
                                        }
                                    </ul>
                                    <small id="adCategoryError" class="text-danger d-none">Please select at least one Ad Category.</small>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <ul class="form-check-list">
                                        <li><label class="form-label">Product Condition<sup style="color: red">*</sup></label></li>
                                        @foreach (var PrdCond in Model.productConditions)
                                        {
                                            <li>
                                                <input type="radio" class="form-check" id="@PrdCond.strAdConditionName" name="product_Condition" value="@PrdCond.strAdConditionName" />
                                                <label for="fix-check" class="form-check-text">@PrdCond.strAdConditionName</label>
                                            </li>
                                        }
                                    </ul>
                                    <small id="productConditionError" class="text-danger d-none">Please select a Product Condition.</small>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">Ad Description</label>
                                    <textarea class="form-control" id="AdDescription" name="AdDescription" placeholder="Describe your message"></textarea>
                                    <small id="AdDescriptionError" class="text-danger d-none">Ad Description is required.</small>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">Ad Tag</label>
                                    <textarea class="form-control" id="AdTag" name="AdTag" placeholder="Maximum of 15 keywords"></textarea>
                                    <small id="AdTagError" class="text-danger d-none">Ad Tag is required.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="adpost-card">
                        <div class="adpost-title">
                            <h3>Author Information</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Name<sup style="color: red">*</sup></label>
                                    <input type="text" class="form-control" id="AuthorName" name="AuthorName" value="@Context.Session.GetString("UserFullName")" placeholder="Your Name" />
                                    <small id="AuthorNameError" class="text-danger d-none">Name is required.</small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Email<sup style="color: red">*</sup></label>
                                    <input type="email" class="form-control" id="AuthorEmail" name="AuthorEmail" value="@Context.Session.GetString("Email")" placeholder="Your Email" />
                                    <small id="AuthorEmailError" class="text-danger d-none">Email is required.</small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Number<sup style="color: red">*</sup></label>
                                    <input type="number" class="form-control" id="AuthorMobile" name="AuthorMobile" value="@Context.Session.GetString("Mobile")" placeholder="Your Number" />
                                    <small id="AuthorMobileError" class="text-danger d-none">Mobile number is required.</small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Address<sup style="color: red">*</sup></label>
                                    <input type="text" class="form-control" id="AuthorAddress" name="AuthorAddress" value="@Context.Session.GetString("Address")" placeholder="Your Address" />
                                    <small id="AuthorAddressError" class="text-danger d-none">Address is required.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="adpost-card pb-2">
                        <div class="adpost-agree mb">
                            <div class="form-group">
                                <input type="checkbox" id="formCheck" class="form-check">
                            </div>
                            <p>Send me Trade Email/SMS Alerts for people looking to buy mobile handsets in www By clicking "Post", you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a> and acknowledge that you are the rightful owner of this item and using Trade to find a genuine buyer.</p>
                        </div>
                        <small id="formCheckError" class="text-danger d-none">Please accept the terms and conditions</small>
                        <div class="form-group text-right">
                            <button class="btn btn-inline" type="submit" onclick="publishAd(event)">
                                <i class="fas fa-check-circle"></i>
                                <span>Publish your ad</span>
                            </button>
                        </div>
                    </div>
                </form>
                    <div class="adpost-card">
                        <div class="adpost-title">
                            <h3>Plan Information</h3>
                        </div>
                     <form method="post" asp-action="ProcessPayment" asp-controller="User">
                        <ul class="adpost-plan-list">
                            <li>
                                <div class="adpost-plan-content">
                                    <div class="d-inline-flex">
                                        <input type="radio" name="planSelection" id="freePlan" value="0" selected />
                                        <h6 style="padding-top:10px;padding-left:10px">Free Plan - <span>Submit 5 Ad Listings</span></h6>
                                        </div>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Delectus minus Eaque corporis accusantium incidunt officiis deleniti.</p>
                                </div>
                                <div class="adpost-plan-meta"><h3>$00.00</h3></div>
                            </li>
                            <li>
                                <div class="adpost-plan-content">
                                    <div class="d-inline-flex">
                                        <input type="radio" name="planSelection" id="standardPlan" value="23" />
                                        <h6 style="padding-top:10px;padding-left:10px">Standerd Plan - <span>Submit 10 Ad Listings</span></h6>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Delectus minus Eaque corporis accusantium incidunt officiis deleniti.</p>
                                </div>
                            
                                <div class="adpost-plan-meta"><h3>$23.00</h3></div>
                            
                            </li>
                            <li>
                                <div class="adpost-plan-content">
                                    <div class="d-inline-flex">
                                        <input type="radio" name="planSelection" id="premiumPlan" value="43" />
                                        <h6 style="padding-top:10px;padding-left:10px">Premium Plan - <span>Unlimited Ad Listings</span></h6>
                                        </div>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Delectus minus Eaque corporis accusantium incidunt officiis deleniti.</p>
                                </div>
                                <div class="adpost-plan-meta"><h3>$43.00</h3></div>
                            </li>
                        </ul>
                        <div class="align-content-center pb-3" style="text-align:center;">
                        <button name="planTypebtn" type="submit" class="btn btn-outline">
                            <span>Pay Now</span>
                            </button>
                        </div>
                    </form>
                    </div>
                    
            </div>
            <div class="col-lg-4">
                <div class="account-card alert fade show">
                    <div class="account-title">
                        <h3>Safety Tips</h3>
                        <button data-dismiss="alert">close</button>
                    </div>
                    <ul class="account-card-text">
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit debitis odio perferendis placeat at aperiam.</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit debitis odio perferendis placeat at aperiam.</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit debitis odio perferendis placeat at aperiam.</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit debitis odio perferendis placeat at aperiam.</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit debitis odio perferendis placeat at aperiam.</p>
                        </li>
                    </ul>
                </div>
                <div class="account-card alert fade show">
                    <div class="account-title">
                        <h3>Custom Offer</h3>
                        <button data-dismiss="alert">close</button>
                    </div>
                    <form class="account-card-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-inline">
                                <i class="fas fa-paper-plane"></i>
                                <span>send Message</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="spinner" class="d-none">
    <img style="height: 100px" src="~/images/spinner.gif" />
</div>
<div id="toast" class="d-none"></div>
@* <script src="~/js/vendor/popper.min.js" /> *@

<script type="text/javascript">

    function LoadSubCategories() {
        var selectedCategory = $('#category').find(":selected").val();
        $('#subCategory').empty();
        $('#subCategory').append(new Option("Select Sub Category"));
        const spinner = document.getElementById('spinner');
        spinner.classList.remove('d-none');
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetSubCategories", "User")',
            data: {
                category: selectedCategory,
            },
            success: function (response) {

                if (response.statusCode == 200) {
                    if (response.subCategories.length > 0) {
                        $.each(response.subCategories, function (index, subCat) {
                            $('#subCategory').append(new Option(subCat.subCatergoryName, subCat.subCategoryID));

                        })
                    }

                }
                spinner.classList.add('d-none');
            },
            error: function (error) {
                spinner.classList.add('d-none');
            }
        });

    }
    function priceRadioChange() {
        var checkedRadio = $(".PriceCondition").is(":checked").val();
        alert(checkedRadio);
    }
    function AdCount() {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '/User/UserAdCount',
                type: 'GET',
                success: function(response) {
                    if (response > 0) {
                        resolve(response); // Continue if valid
                    } else {
                        ShowToast('failed', 'Please choose a plan to proceed further');
                        reject('No plan selected');
                    }
                },
                error: function(xhr) {
                    alert('Unable to make request: ' + xhr.status + ' ' + xhr.statusText);
                    reject('Error calling UserAdCount');
                }
            });
        });
    }
    function publishAd(event) {
        event.preventDefault(); // Prevent form submission
        let isValid = true;
        const toast = $('#toast');
        // Helper function to validate and show/hide error
        function validateField(id, errorId) {
            const field = document.getElementById(id);
            const error = document.getElementById(errorId);
            if (!field.value.trim()) {
                error.classList.remove('d-none');
                isValid = false;
            } else {
                error.classList.add('d-none');
            }
        }

        validateField('productTitle', 'productNameError');
        validateField('productQuantity', 'productQuantityError');
        validateField('category', 'categoryError');
        validateField('subCategory', 'subCategoryError');
        validateField('productPrice', 'productPriceError');
        //validateField('AdDescription', 'AdDescriptionError');
        //validateField('AdTag', 'AdTagError');
        validateField('AuthorName', 'AuthorNameError');
        validateField('AuthorEmail', 'AuthorEmailError');
        validateField('AuthorMobile', 'AuthorMobileError');
        validateField('AuthorAddress', 'AuthorAddressError');
        validateField('formCheck', 'formCheckError')

        // Validate product image
        const productImage = document.getElementById('productImage');
        const productImageError = document.getElementById('productImageError');
        if (productImage.files.length !== 0 && productImage.files[0].size > 5 * 1024 * 1024) {
            productImageError.innerText = "Image must be less than 5MB.";
            productImageError.classList.remove('d-none');
            isValid = false;
        }   
        else {
            productImageError.classList.add('d-none');  
        }
        // if (!productImage.files || productImage.files.length === 0) {
        //     productImageError.innerText = "Product image is required.";
        //     productImageError.classList.remove('d-none');
        //     isValid = false;
        // } else if (productImage.files[0].size > 5 * 1024 * 1024) {
        //     productImageError.innerText = "Image must be less than 5MB.";
        //     productImageError.classList.remove('d-none');
        //     isValid = false;
        // } else {
        //     productImageError.classList.add('d-none');
        // }

        // Price Condition radio validation
        const priceConditionSelected = document.querySelector('input[name="price_Condition"]:checked');
        const priceCondError = document.getElementById('priceConditionError');
        if (!priceConditionSelected) {
            priceCondError.classList.remove('d-none');
            isValid = false;
        } else {
            priceCondError.classList.add('d-none');
        }

        // Product Condition radio validation
        const productConditionSelected = document.querySelector('input[name="product_Condition"]:checked');
        const productCondError = document.getElementById('productConditionError');
        if (!productConditionSelected) {
            productCondError.classList.remove('d-none');
            isValid = false;
        } else {
            productCondError.classList.add('d-none');
        }

        // Ad Category checkbox validation
        const adCategoryChecked = document.querySelectorAll('input[name="Ad_Category"]:checked').length;
        const adCategoryError = document.getElementById('adCategoryError');
        if (adCategoryChecked === 0) {
            adCategoryError.classList.remove('d-none');
            isValid = false;
        } else {
            adCategoryError.classList.add('d-none');
        }

        const termsCheckbox = document.getElementById("formCheck");
        const termsError = document.getElementById("formCheckError");
        if (!termsCheckbox.checked) {
            termsError.classList.remove("d-none");
            isValid = false;
        } else {
            termsError.classList.add("d-none");
        }

        // Final submission
        if (!isValid) {
            toast.removeClass('toast_success');
            toast.addClass('toast_failed');
            toast.text('Please fill all the required fields');
            toast.removeClass('d-none');
            setTimeout(() => {
                toast.addClass('d-none');
            }, 3000);
            return;
        }
        //AdCount();

        AdCount().then(function (count){
            const spinner = document.getElementById('spinner');
            let formData = new FormData($('#PostAdForm')[0]);
            spinner.classList.remove('d-none');
            $.ajax({
                url: $('#PostAdForm').attr('action'),
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    toast.removeClass('toast_failed');
                    toast.addClass('toast_success');
                    toast.text('Ad posted successfully!');
                    // Optionally reset form or redirect
                    $('#PostAdForm')[0].reset();
                    toast.removeClass('d-none');
                    setTimeout(() => {
                        toast.addClass('d-none');
                    }, 3000);
                    spinner.classList.add('d-none');
                },
                error: function (xhr) {
                    toast.removeClass('toast_success');
                    toast.addClass('toast_failed');
                    toast.text('An error occurred while posting your ad.');
                    toast.removeClass('d-none');
                    setTimeout(() => {
                        toast.addClass('d-none');
                    }, 3000);
                    spinner.classList.add('d-none');
                }
            });
        }).catch(function (error) {
        console.log("Ad count check failed: " + error);
        // Don't proceed to posting form
        });
    // Form is valid: submit via AJAX
    }
</script>