@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "Profile";
    <link rel="stylesheet" href="~/fonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="~/fonts/font-awesome/fontawesome.css" />
    <link rel="stylesheet" href="~/css/custom/profile.css" />

}

<section class="single-banner dashboard-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>Ad Post</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Dashboard">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Ad-Post</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dash-header-part">
    <div class="container">
        <div class="dash-header-card">
            <partial name="~/Views/Shared/_ProfileCard.cshtml" />
            <div class="row">
                <div class="col-lg-12">

                    <div class="dash-menu-list">
                        <ul>
                            <li><a asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a></li>
                            <li><a asp-controller="User" class="active" asp-action="Profile">Profile</a></li>
                            <li><a asp-controller="User" asp-action="PostAd">Ad Post</a></li>
                            <li><a asp-controller="User" asp-action="AdsList">my ads</a></li>
                            <li><a asp-controller="User" asp-action="PostAd">settings</a></li>
                            <li><a asp-controller="User" asp-action="Bookmark">bookmarks</a></li>
                            <li><a asp-controller="User" asp-action="Message">message</a></li>
                            <li><a asp-controller="User" asp-action="Notification">notification</a></li>
                            <li><a asp-controller="Dashboard" asp-action="Logout">logout</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </section>
    <!--=====================================
              SINGLE BANNER PART END
    =======================================-->
    <!--=====================================
            DASHBOARD HEADER PART START
    =======================================-->
    <section class="dash-header-part">
        <div class="container">
            <div class="dash-header-card">
               
                <div class="row">
                    <div class="col-lg-12">
                        <div class="dash-menu-list">
                            <ul>
                                <li><a href="@Url.Action("Dashboard", "User")">dashboard</a></li>
                                <li><a class="active" href="@Url.Action("Profile", "User")">Profile</a></li>
                                <li><a href="@Url.Action("AdPost", "User")">ad post</a></li>
                                <li><a href="@Url.Action("MyAds", "User")">my ads</a></li>
                                <li><a href="@Url.Action("Settings", "User")">settings</a></li>
                                <li><a href="@Url.Action("Bookmark", "User")">bookmarks</a></li>
                                <li><a href="@Url.Action("Message", "User")">message</a></li>
                                <li><a href="@Url.Action("Notification", "User")">notification</a></li>
                                <li><a href="@Url.Action("Login", "Dashboard")">logout</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="toast-container"></div>
    </div>
</section>
    <!--=====================================
            DASHBOARD HEADER PART END
    =======================================-->
    <!--=====================================
                PROFILE PART START
    =======================================-->
    <section class="profile-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="account-card">
                        @foreach (var user in Model) 
                        {
                            <div class="account-title">
                                <h3>Membership</h3>

                            <a asp-action="settings" asp-controller="User">Edit</a>

                            </div>
                            <ul class="account-card-list">
                            
                                    <li><h5>Status</h5><p>@(user.IsActive ? "Active" : "InActive")</p></li>
                                    <li><h5>Joined</h5><p></p></li>
                                    <li><h5>Span</h5><p></p></li>
                                    <li><h5>Earn</h5><p></p></li>
                           
                            </ul>
                        }
                    </div>
                    <div class="account-card">
                        @foreach (var user in Model)
                        {
                            <div class="account-title">
                                <h3>Billing Address</h3>

                                <a onclick="loadAddressModal('@user.userAddressInfo[0].UserBillingFullAddress', '@user.userAddressInfo[0].UserBillingPinCode', '@user.userAddressInfo[0].UserBillingState', '@user.userAddressInfo[0].UserBillingCity', '@user.userAddressInfo[0].UserBillingCountry', 'Billing')">Edit</a>

                            </div>
                            <ul class="account-card-list">

                                <li><h5>Address:</h5><p>@user.userAddressInfo[0].UserBillingFullAddress</p></li>
                                <li><h5>Pin Code:</h5><p>@user.userAddressInfo[0].UserBillingPinCode</p></li>
                                <li><h5>State:</h5><p>@user.userAddressInfo[0].UserBillingState</p></li>
                                <li><h5>City:</h5><p>@user.userAddressInfo[0].UserBillingCity</p></li>
                                <li><h5>Country:</h5><p>@user.userAddressInfo[0].UserBillingCountry</p></li>

                            </ul>
                        }
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="account-card">
                        <div class="account-title">
                            <h3>Contact Info</h3>

                            <a asp-action="settings" asp-controller="User">Edit</a>
                        </div>
                        <ul class="account-card-list">
                            @foreach (var user in Model)
                            {
                                <li><h5>Website:</h5><p>@user.userWebsite</p></li>
                                <li><h5>Email:</h5><p>@user.userEmail</p></li>
                                <li><h5>Phone:</h5><p>@user.userMobile</p></li>
                                <li><h5>Skype:</h5><p></p></li>
                            }
                        </ul>
                    </div>
                    <div class="account-card">
                        @foreach (var user in Model) 
                        {
                            <div class="account-title">
                                <h3>Shipping Address</h3>

                            <a onclick="loadAddressModal('@user.userAddressInfo[0].UserShippingFullAddress', '@user.userAddressInfo[0].UserShippingPinCode', '@user.userAddressInfo[0].UserShippingState', '@user.userAddressInfo[0].UserShippingCity', '@user.userAddressInfo[0].UserShippingCountry', 'shipping')">Edit</a>

                            </div>
                            <ul class="account-card-list">

                                    <li><h5>Address:</h5><p>@user.userAddressInfo[0].UserShippingFullAddress</p></li>
                                    <li><h5>Post Code:</h5><p>@user.userAddressInfo[0].UserShippingPinCode</p></li>
                                    <li><h5>State:</h5><p>@user.userAddressInfo[0].UserShippingState</p></li>
                                    <li><h5>City:</h5><p>@user.userAddressInfo[0].UserShippingCity</p></li>
                                    <li><h5>Country:</h5><p>@user.userAddressInfo[0].UserShippingCountry</p></li>
                            
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
                PROFILE PART END
    =======================================-->
    
    <!--=====================================
              CURRENCY MODAL PART START
    =======================================-->
    <div class="modal fade" id="currency">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Currency</h4>
                    <button class="fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">United States Doller (USD) - $</button>
                    <button class="modal-link">Euro (EUR) - €</button>
                    <button class="modal-link">British Pound (GBP) - £</button>
                    <button class="modal-link">Australian Dollar (AUD) - A$</button>
                    <button class="modal-link">Canadian Dollar (CAD) - C$</button>
                </div>
            </div>
        </div>
    </div>
    <!--=====================================
              CURRENCY MODAL PART END
    =======================================-->
    <!--=====================================
              LANGUAGE MODAL PART END
    =======================================-->
    <div class="modal fade" id="language">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Language</h4>
                    <button class="fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">English</button>
                    <button class="modal-link">bangali</button>
                    <button class="modal-link">arabic</button>
                    <button class="modal-link">germany</button>
                    <button class="modal-link">spanish</button>
                </div>
            </div>
        </div>
    </div>
    <!--=====================================
               LANGUAGE MODAL PART END
    =======================================-->
<!-- Modal placeholder -->
<div id="modalPlaceholder"></div>

    <!--=====================================
                JS LINK PART START
    =======================================-->
    <!-- VENDOR -->
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/vendor/popper.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>

    <!-- CUSTOM -->
    <script src="~/js/custom/main.js"></script>
    <!--=====================================
                JS LINK PART END
    =======================================-->


<script>
    function loadAddressModal(address, pincode, state, city, country, type) {
        $.ajax({
            url: '/User/UserAddressInfo', // Controller action name
            type: 'GET',
            data: { houseNo: address, pincode: pincode, state: state, city: city, country: country, type: type},
            success: function (html) {
                $('#modalPlaceholder').html(html);
                var modal = new bootstrap.Modal(document.getElementById('editBillingModal'));
                modal.show();
            },
            error: function () {
                alert('Failed to load modal.');
            }
        });
    }
</script>




