@model List<UserViewModel>
@{
    ViewBag.Title = "Settings";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>India_Leavings - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="icon" href="images/favicon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMMb12QKmrCGLR7IxJ6kvTEh8P5F06IMj6mvZ0d" crossorigin="anonymous">
    <link href="~/fonts/flaticon/flaticon.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome/fontawesome.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/custom/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom/setting.css" />
</head>
<body>
    @* @if (TempData["UpdateMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["UpdateMessage"]
        </div>
    } *@
    <section class="single-banner dashboard-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content">
                        <h2>setting</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Dashboard">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">setting</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dash-header-part">
        <div class="container">
            <div class="dash-header-card">
                <partial name="~/Views/Shared/_ProfileCard.cshtml" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="dash-menu-list">
                            <ul>
                                <li><a href="@Url.Action("Dashboard", "User")">dashboard</a></li>
                                <li><a href="@Url.Action("Profile", "User")">Profile</a></li>
                                <li><a href="@Url.Action("AdPost", "User")">ad post</a></li>
                                <li><a href="@Url.Action("MyAds", "User")">my ads</a></li>
                                <li><a class="active" href="@Url.Action("Settings", "User")">settings</a></li>
                                <li><a href="@Url.Action("Bookmark", "User")">bookmarks</a></li>
                                <li><a href="@Url.Action("Message", "User")">message</a></li>
                                <li><a href="@Url.Action("Notification", "User")">notification</a></li>
                                <li><a href="@Url.Action("Login", "Dashboard")">logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="toast-container"></div>
        </div>
    </section>
    <div class="setting-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="account-card alert fade show">
                        <div class="account-title">
                            <h3>Edit Profile</h3>
                            <button data-dismiss="alert">close</button>
                        </div>
                        <form id="SettingsForm" class="setting-form" asp-action="UpdateUser" asp-controller="User" method="post" enctype="multipart/form-data">
                            <div class="row">
                               
                                    <div class="row" style="display: flex; gap: 20px; margin-left:initial !important; width:100%">
                                        <div class="col-lg-4" style="flex: 1;">
                                            <div class="form-group">
                                                <label class="form-label">First Name</label>
                                                <input type="text" id="txt_firstname" name="txt_firstname" class="form-control" placeholder="Type First Name" value="@Model[0].userFirstName">
                                            </div>
                                        </div>
                                        <div class="col-lg-4" style="flex: 1;">
                                            <div class="form-group">
                                                <label class="form-label">Middle Name</label>
                                                <input type="text" id="txt_middlename" name="txt_middlename" class="form-control" placeholder="Type Middle Name" value="@Model[0].userMiddleName">
                                            </div>
                                        </div>
                                        <div class="col-lg-4" style="flex: 1;">
                                            <div class="form-group">
                                                <label class="form-label">Last Name</label>
                                                <input type="text" id="txt_lastname" name="txt_lastname" class="form-control" placeholder="Type Last Name" value="@Model[0].userLastName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" style="flex: 1;">
                                        <div class="form-group">
                                            <label class="form-label">password</label>
                                            <input type="text" id="txt_password" name="txt_password" class="form-control" placeholder="Type password" value="@Model[0].password">
                                        </div>
                                    </div>


                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label">Description</label>
                                            <input type="text" id="txt_description" name="txt_description" class="form-control" placeholder="Type Description" value="@Model[0].userDescription">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="text" id="txt_Email" name="txt_Email" class="form-control" placeholder="Type Email" value="@Model[0].userEmail">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label">Address</label>
                                            <input type="text" id="txt_address" name="txt_address" class="form-control" placeholder="Type Address" value="@Model[0].userFullAddress">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Country</label>
                                            <select id="countryDropdown" class="form-control" style="width: 100%" value="@Model[0].userCountry" placeholder="select a country"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">State</label>
                                            <select id="statesDropdown" class="form-control" style="width: 100%" value="@Model[0].userState"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">City</label>
                                            <select id="citiesDropdown" class="form-control" style="width: 100%" value="@Model[0].userCity"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Post Code</label>
                                            <input type="text" id="txt_postcode" name="txt_postcode" class="form-control" placeholder="Type Post Code" value="@Model[0].userPinCode">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Website</label>
                                            <input type="text" id="txt_website" name="txt_website" class="form-control" placeholder="Type WebSite" value="@Model[0].userWebsite">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Phone</label>
                                            <input type="text" id="txt_phone" name="txt_phone" class="form-control" placeholder="Type Phone" value="@Model[0].userMobile">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Birthday</label>
                                        <input type="date" id="txt_dob" name="txt_dob" class="form-control" value="@(((DateTime)Model[0].userDOB).ToString("yyyy-MM-dd"))">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Profile Image</label>
                                            <input type="file" id="txt_profile_img" name="profileImage" class="form-control" placeholder="Size should be <2MB">
                                            <small id="profileImgErr" class="text-danger d-none"></small>
                                            <input type="text" id="file_name" value="@Model[0].userImagePath" hidden>
          
                                            @* <div class="dash-avatar">
                                                <a href="#">
                                                <img src="@Url.Action("GetUserImage", "Dashboard")" onerror="this.onerror=null;this.src='../images/user.png';" alt="avatar">
                                                </a>
                                            </div> *@
                                        </div>
                                    </div>

                                    <div class="col-lg-12"><hr></div> <div class="row mb-4">
                                        @* <div class="col-lg-6">
                                            <h4>Billing Address</h4>
                                             
                                            <div class="form-group">
                                                <label class="form-label">City</label>
                                            <input type="text" id="billing_city" name="txt_b_city" class="form-control" placeholder="Type City" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">State</label>
                                            <input type="text" id="billing_state" name="txt_b_state" class="form-control" placeholder="Select State" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Postal Code</label>
                                            <input type="text" id="billing_postcode" name="txt_b_postcode" class="form-control" placeholder="Type Post Code" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Country</label>
                                            <input type="text" id="billing_country" name="txt_b_country" class="form-control" placeholder="Select Country" value="">
                                            </div>

                                            <div class="form-group"> 
                                                <div class="form-check">

                                                <input class="form-check-input" type="radio" name="shippingAddressOption" id="shippingSameAsBilling" value="true" onchange="toggleShippingFields()" >
                                                    <label class="form-check-label" for="shippingSameAsBilling">
                                                       Is billing address same as shipping address
                                                    </label>
                                                </div>
                                            </div>
                                      </div>
                                        <div class="col-lg-6">
                                            <h4>Shipping Address</h4>
                                            <div class="form-group">
                                                <label class="form-label">City</label>
                                            <input type="text" id="shipping_city" name="txt_s_city" class="form-control" placeholder="Type City" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">State</label>
                                            <input type="text" id="shipping_state" name="txt_s_state" class="form-control" placeholder="Select State" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Post Code</label>
                                            <input type="text" id="shipping_postcode" name="txt_s_postcode" class="form-control" placeholder="Type Post Code" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Country</label>
                                            <input type="text" id="shipping_country" name="txt_s_country" class="form-control" placeholder="Select Country" value="">
                                            </div>
                                        </div> *@


                                        <div class="col-lg-12">
                                            <button type="button" id="btnUpdateProfile" class="btn btn-inline">
                                                <i class="fas fa-user-check"></i>
                                                <span>update profile</span>
                                            </button>
                                        </div>
                                    </div>
							</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="currency">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Currency</h4>
                    <button class="fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">United States Doller (USD) - $</button>
                    <button class="modal-link">Euro (EUR) - €</button>
                    <button class="modal-link">British Pound (GBP) - £</button>
                    <button class="modal-link">Australian Dollar (AUD) - A$</button>
                    <button class="modal-link">Canadian Dollar (CAD) - C$</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="language">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Language</h4>
                    <button class="fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">English</button>
                    <button class="modal-link">bangali</button>
                    <button class="modal-link">arabic</button>
                    <button class="modal-link">germany</button>
                    <button class="modal-link">spanish</button>
                </div>
            </div>
        </div>
    </div>
    <div id="loadingOverlay" class="d-none">
        <img style="height: 100px" src="~/images/spinner.gif" />
    </div>
    <div id="toast" class="d-none"></div>
</body>
<script src="~/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/js/vendor/popper.min.js"></script>
<script src="~/js/vendor/bootstrap.min.js"></script>
<script src="~/js/custom/main.js"> </script>
<script>
    function toggleShippingFields() {
        var shippingSameAsBilling = document.getElementById("shippingSameAsBilling");
        var shippingCity = document.getElementById("shipping_city");
        var shippingState = document.getElementById("shipping_state");
        var shippingPostcode = document.getElementById("shipping_postcode");
        var shippingCountry = document.getElementById("shipping_country");

        var billingCity = document.getElementById("billing_city");
        var billingState = document.getElementById("billing_state");
        var billingPostcode = document.getElementById("billing_postcode");
        var billingCountry = document.getElementById("billing_country");

        if (shippingSameAsBilling.checked) {
            shippingCity.value = billingCity.value;
            shippingState.value = billingState.value;
            shippingPostcode.value = billingPostcode.value;
            shippingCountry.value = billingCountry.value;
        } else {
            shippingCity.value = "";
            shippingState.value = "";
            shippingPostcode.value = "";
            shippingCountry.value = "";
        }
    }

    $(document).ready(function () {
        $('#btnUpdateProfile').click(function (e) {
            validate(e);
        });
    });

    function validate(e) {
        e.preventDefault(); // Prevent default form submission

        var isValid = true;

        var profileImg = $('#txt_profile_img');
        var profileImgErr = $('#profileImgErr');
        var password = $('#txt_password');
        var phone = $('#txt_phone');

        // Reset errors
        profileImgErr.addClass('d-none').text('');
        password.removeClass('is-invalid');
        $('#passwordErr').remove();

        // Image Validation
        if (profileImg[0].files.length != 0 && profileImg[0].files[0].size > 2 * 1024 * 1024) {
            profileImgErr.removeClass('d-none').text('Image size should be less than 2 MB');
            isValid = false;
        }

        // Password Validation
        if (password.val().trim() === '') {
            password.addClass('is-invalid');
            password.after('<small id="passwordErr" class="text-danger">Please enter password</small>');
            isValid = false;
        } else if (password.val().length < 6) {
            password.addClass('is-invalid');
            password.after('<small id="passwordErr" class="text-danger">Password should be at least 6 characters</small>');
            isValid = false;
        }

        if (phone.val().trim() === '') {
            phone.addClass('is-invalid');
            phone.after('<small id="passwordErr" class="text-danger">Please enter your phone no</small>');
            isValid = false;
        }

        if (!isValid) {
            ShowToast('failed', 'Please fill all the required details');
        }

        // Submit if valid
        if (isValid) {
            let formData = new FormData($('#SettingsForm')[0]);
            formData.append("txt_Country", $('#countryDropdown option:selected').text());
            formData.append("txt_state", $('#stateDropdown option:selected').text());
            formData.append("txt_city", $('#cityDropdown option:selected').text());
            spinner.classList.remove('d-none');
            $.ajax({
                url: $('#SettingsForm').attr('action'),
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    spinner.classList.add('d-none');
                    if (response.status.includes("Success")) {
                        ShowToast('success', response.status);
                        location.reload();
                    }
                    else {
                        ShowToast('failed', response.status);
                    }
                    // Optionally reset form or redirect
                    $('#SettingsForm')[0].reset();
                },
                error: function (xhr) {
                    spinner.classList.add('d-none');
                    ShowToast('failed', 'An error occurred while updating your details');
                }
            });
        }
    }

    $(document).ready(function () {
            $.ajax({
                url: '/User/GetCountryName',
                type: 'GET',
                success: function (response) {
                    if (typeof response === "string") {
                        response = JSON.parse(response);
                    }

                    const countries = response
                        .filter(c => c && c.strCountryName)
                        .sort((a, b) => a.strCountryName.localeCompare(b.strCountryName));

                    let $dropdown = $('#countryDropdown');
                    $dropdown.empty();

                    $dropdown.append('<option value="">Please select your country</option>');

                    countries.forEach(function (country) {
                        $dropdown.append(
                            $('<option></option>')
                                .val(country.intCountryID)
                                .text(country.strCountryName)
                        );
                    });
                    const selectedCountry = "@Model[0].userCountry".trim();
                    if (selectedCountry) {
                        let matchedOption = $dropdown.find('option').filter(function () {
                            return $(this).text().trim() === selectedCountry;
                        }).first();
                        if (matchedOption.length) {
                            $dropdown.val(matchedOption.val()).trigger('change');
                        }
                    } else {
                        // Default to "Please select your country"
                        $dropdown.val("").trigger('change');
                    }

                    $dropdown.select2({
                        placeholder: "Select a country",
                        allowClear: true
                    });
                },
                error: function () {
                    alert('Failed to load countries');
                }
            });

        $('#countryDropdown').on('change', function () {
            const selectedCountryId = $(this).val();
            if (selectedCountryId) {
                $.ajax({
                    url: '/User/GetStates',
                    type: 'GET',
                    data: {countryId: selectedCountryId},
                    success: function (states) {
                        if (typeof states === "string") {
                            states = JSON.parse(states);
                        }

                        const filteredStates = states
                            .filter(s => s && s.strStateName && s.IsActive)
                            .sort((a, b) => a.strStateName.localeCompare(b.strStateName));

                        let $stateDropdown = $('#statesDropdown');
                        $stateDropdown.empty().append('<option>Select your state</option>');

                        filteredStates.forEach(function (state) {
                            $stateDropdown.append(
                                $('<option></option>')
                                    .val(state.intStateID)
                                    .text(state.strStateName)
                            );
                        });
                        
                        const selectedState = "@Model[0].userState".trim();
                        if (selectedState) {
                            let matchedOption = $stateDropdown.find('option').filter(function () {
                                return $(this).text().trim() === selectedState;
                            }).first();
                            if (matchedOption.length) {
                                $stateDropdown.val(matchedOption.val()).trigger('change');
                            }
                        } else {
                            $stateDropdown.val("").trigger('change');
                        }

                        $stateDropdown.select2({
                            placeholder: "Select a state",
                            allowClear: true
                        });
                    },
                    error: function () {
                        alert('Failed to load states');
                    }
                });
            } else {
                $('#statesDropdown').empty().trigger('change');
            }
        });

        $('#statesDropdown').on('change', function () {
            const selectedStateId = $(this).val();
            if (selectedStateId) {
                $.ajax({
                    url: '/User/GetCities',
                    type: 'GET',
                    data: {stateId: selectedStateId},
                    success: function (cities) {
                        if (typeof cities === "string") {
                            cities = JSON.parse(cities);
                        }

                        const filteredCities = cities
                            .filter(s => s && s.strCityName && s.IsActive)
                            .sort((a, b) => a.strCityName.localeCompare(b.strCityName));

                        let $cityDropdown = $('#citiesDropdown');
                        $cityDropdown.empty().append('<option>Select your City</option>');

                        filteredCities.forEach(function (city) {
                            $cityDropdown.append(
                                $('<option></option>')
                                    .val(city.intCityID)
                                    .text(city.strCityName)
                            );
                        });

                        const selectedCity = "@Model[0].userCity".trim();
                        if (selectedCity) {
                            let matchedOption = $cityDropdown.find('option').filter(function () {
                                return $(this).text().trim() === selectedCity;
                            }).first();
                            if (matchedOption.length) {
                                $cityDropdown.val(matchedOption.val()).trigger('change');
                            }
                        } else {
                            // Default to "Please select your country"
                            $cityDropdown.val("").trigger('change');
                        }

                        $stateDropdown.select2({
                            placeholder: "Select a city",
                            allowClear: true
                        });
                    },
                    error: function () {
                        alert('Failed to load cities');
                    }
                });
            } else {
                $('#citiesDropdown').empty().trigger('change');
            }
        });
    });
</script>
</html>
