@model List<UserViewModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>India_Leavings - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="icon" href="images/favicon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMMb12QKmrCGLR7IxJ6kvTEh8P5F06IMj6mvZ0d" crossorigin="anonymous">
    <link href="~/fonts/flaticon/flaticon.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome/fontawesome.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/custom/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom/setting.css" />
    <style>

        /* Toast container */
        .toast_success {
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #28a745;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            z-index: 9999;
            transition: opacity 0.3s ease, visibility 0.3s ease;
        }

        .toast_failed {
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #dc3545;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            z-index: 9999;
            transition: opacity 0.3s ease, visibility 0.3s ease;
        }

    </style>
</head>
<body>

    <nav class="mobile-nav">
        <div class="container">
            <div class="mobile-group">
                <a href="index.html" class="mobile-widget">
                    <i class="fas fa-home"></i>
                    <span>home</span>
                </a>
                <a href="user-form.html" class="mobile-widget">
                    <i class="fas fa-user"></i>
                    <span>join me</span>
                </a>
                <a href="ad-post.html" class="mobile-widget plus-btn">
                    <i class="fas fa-plus"></i>
                    <span>Ad Post</span>
                </a>
                <a href="notification.html" class="mobile-widget">
                    <i class="fas fa-bell"></i>
                    <span>notify</span>
                    <sup>0</sup>
                </a>
                <a href="message.html" class="mobile-widget">
                    <i class="fas fa-envelope"></i>
                    <span>message</span>
                    <sup>0</sup>
                </a>
            </div>
        </div>
    </nav>
    <section class="single-banner dashboard-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content">
                        <h2>setting</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Dashboard/Dashboard">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">setting</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dash-header-part">
        <div class="container">
            <div class="dash-header-card">
                <partial name="~/Views/Shared/_ProfileCard.cshtml" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="dash-menu-list">
                            <ul>
                                <li><a href="@Url.Action("Dashboard", "User")">dashboard</a></li>
                                <li><a href="@Url.Action("Profile", "User")">Profile</a></li>
                                <li><a href="@Url.Action("AdPost", "User")">ad post</a></li>
                                <li><a href="@Url.Action("MyAds", "User")">my ads</a></li>
                                <li><a class="active" href="@Url.Action("Settings", "User")">settings</a></li>
                                <li><a href="@Url.Action("Bookmark", "User")">bookmarks</a></li>
                                <li><a href="@Url.Action("Message", "User")">message</a></li>
                                <li><a href="@Url.Action("Notification", "User")">notification</a></li>
                                <li><a href="@Url.Action("Login", "Dashboard")">logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="toast-container"></div>
        </div>
    </section>
    <div class="setting-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="account-card alert fade show">
                        <div class="account-title">
                            <h3>Edit Profile</h3>
                            <button data-dismiss="alert">close</button>
                        </div>
                        <form class="setting-form" asp-action="UpdateUser" asp-controller="User" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="row" style="display: flex; gap: 20px; margin-left:initial !important; width:100%">
                                    <div class="col-lg-4" style="flex: 1;">
                                        <div class="form-group">
                                            <label class="form-label">First Name</label>
                                            <input type="text" id="txt_firstname" name="txt_firstname" class="form-control" placeholder="Type First Name" value="@Model[0].userFirstName">
                                        </div>
                                    </div>
                                    <div class="col-lg-4" style="flex: 1;">
                                        <div class="form-group">
                                            <label class="form-label">Middle Name</label>
                                            <input type="text" id="txt_middlename" name="txt_middlename" class="form-control" placeholder="Type Middle Name" value="@Model[0].userMiddleName">
                                        </div>
                                    </div>
                                    <div class="col-lg-4" style="flex: 1;">
                                        <div class="form-group">
                                            <label class="form-label">Last Name</label>
                                            <input type="text" id="txt_lastname" name="txt_lastname" class="form-control" placeholder="Type Last Name" value="@Model[0].userLastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4" style="flex: 1;">
                                    <div class="form-group">
                                        <label class="form-label">password</label>
                                        <input type="text" id="txt_password" name="txt_password" class="form-control" placeholder="Type password" value="@Model[0].password">
                                    </div>
                                </div>
                            

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label">Description</label>
                                        <input type="text" id="txt_description" name="txt_description" class="form-control" placeholder="Type Description" value="@Model[0].userDescription">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input type="text" id="txt_Email" name="txt_Email" class="form-control" placeholder="Type Email" value="@Model[0].userEmail">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label">Company</label>
                                        <input type="text" id="txt_company" name="txt_company" class="form-control" placeholder="Type Company" value="@Model[0].userCompany">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label">Address</label>
                                        <input type="text" id="txt_address" name="txt_address" class="form-control" placeholder="Type Address" value="@Model[0].userFullAddress">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">City</label>
                                        <input type="text" id="txt_city" name="txt_city" class="form-control" placeholder="Type City" value="@Model[0].userCity">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">State</label>
                                        <input type="text" id="txt_state" name="txt_state" class="form-control" placeholder="Select State" value="@Model[0].userState">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Post Code</label>
                                        <input type="text" id="txt_postcode" name="txt_postcode" class="form-control" placeholder="Type Post Code" value="@Model[0].userPinCode">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Country</label>
                                        <input type="text" id="txt_Country" name="txt_Country" class="form-control" placeholder="Select Country" value="@Model[0].userCountry">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Website</label>
                                        <input type="text" id="txt_website" name="txt_website" class="form-control" placeholder="Type WebSite" value="@Model[0].userWebsite">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Phone</label>
                                        <input type="text" id="txt_phone" name="txt_phone" class="form-control" placeholder="Type Phone" value="@Model[0].userMobile">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Birthday</label>
                                        <input type="date" id="txt_dob" name="txt_dob" class="form-control" value="@Model[0].userDOB">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Profile Image</label>
                                        <input type="file" id="txt_profile_img" name="profileImage" class="form-control">
                                        <input type="text" id="file_name" value="@Model[0].userImagePath" hidden>
                                        <div class="dash-avatar">
                                            <a href="#">
                                                <img src="@Url.Content(ViewBag.UserProfileImgPath + Model[0].userID + "/" + Model[0].userImagePath)"
                                                     onerror="this.onerror=null;this.src='../images/user_profile/dummy_profileimg.png';" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button class="btn btn-inline" onclick="UpdateUser(); return false;">
                                        <i class="fas fa-user-check"></i>
                                        <span>update profile</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="currency">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Currency</h4>
                    <button class="fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">United States Doller (USD) - $</button>
                    <button class="modal-link">Euro (EUR) - €</button>
                    <button class="modal-link">British Pound (GBP) - £</button>
                    <button class="modal-link">Australian Dollar (AUD) - A$</button>
                    <button class="modal-link">Canadian Dollar (CAD) - C$</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="language">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Language</h4>
                    <button class="fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">English</button>
                    <button class="modal-link">bangali</button>
                    <button class="modal-link">arabic</button>
                    <button class="modal-link">germany</button>
                    <button class="modal-link">spanish</button>
                </div>
            </div>
        </div>
    </div>
    <div id="loadingOverlay" class="d-none">
        <img style="height: 100px" src="~/images/spinner.gif" />
    </div>

    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/vendor/popper.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>

    <script src="~/js/custom/main.js"></script>
        </body>
        </html>
