@model List<UserViewModel>
@{
    ViewBag.Title = "Settings";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>India_Leavings - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="icon" href="images/favicon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMMb12QKmrCGLR7IxJ6kvTEh8P5F06IMj6mvZ0d" crossorigin="anonymous">
    <link href="~/fonts/flaticon/flaticon.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome/fontawesome.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/custom/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom/setting.css" />
</head>
<body>
    @* @if (TempData["UpdateMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["UpdateMessage"]
        </div>
    } *@
    <section class="single-banner dashboard-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content">
                        <h2>setting</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Dashboard">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">setting</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dash-header-part">
        <div class="container">
            <div class="dash-header-card">
                <partial name="~/Views/Shared/_ProfileCard.cshtml" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="dash-menu-list">
                            <ul>
                                <li><a asp-controller="User" asp-action="Dashboard">Dashboard</a></li>
                                <li><a asp-controller="User" asp-action="Profile">Profile</a></li>
                                <li><a asp-controller="User" asp-action="PostAd">Ad Post</a></li>
                                <li><a asp-controller="User" asp-action="MyAds">my ads</a></li>
                                <li><a asp-controller="User" class="active" asp-action="Settings">settings</a></li>
                                <li><a asp-controller="User" asp-action="Bookmark">bookmarks</a></li>
                                <li><a asp-controller="User" asp-action="Message">message</a></li>
                                <li><a asp-controller="User" asp-action="Notification">notification</a></li>
                                <li><a asp-controller="Dashboard" asp-action="Logout">logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="toast-container"></div>
        </div>
    </section>
    <div class="setting-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="account-card alert fade show">
                        <div class="account-title">
                            <h3>Edit Profile</h3>
                            <button data-toggle="modal" data-target="#updatePasswordModal" style="cursor: pointer; width: 150px">Update Password</button>
                        </div>
                        <form id="SettingsForm" class="setting-form" asp-action="UpdateUser" asp-controller="User" method="post" enctype="multipart/form-data">
                            <div class="row">
                               
                                    <div class="row" style="display: flex; gap: 20px; margin-left:initial !important; width:100%">
                                        <div class="col-lg-4" style="flex: 1;">
                                            <div class="form-group">
                                                <label class="form-label">First Name</label>
                                                <input type="text" id="txt_firstname" name="txt_firstname" class="form-control" placeholder="Type First Name" value="@Model[0].userFirstName">
                                            </div>
                                        </div>
                                        <div class="col-lg-4" style="flex: 1;">
                                            <div class="form-group">
                                                <label class="form-label">Middle Name</label>
                                                <input type="text" id="txt_middlename" name="txt_middlename" class="form-control" placeholder="Type Middle Name" value="@Model[0].userMiddleName">
                                            </div>
                                        </div>
                                        <div class="col-lg-4" style="flex: 1;">
                                            <div class="form-group">
                                                <label class="form-label">Last Name</label>
                                                <input type="text" id="txt_lastname" name="txt_lastname" class="form-control" placeholder="Type Last Name" value="@Model[0].userLastName">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label">Description</label>
                                            <input type="text" id="txt_description" name="txt_description" class="form-control" placeholder="Type Description" value="@Model[0].userDescription">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="text" id="txt_Email" name="txt_Email" class="form-control" placeholder="Type Email" value="@Model[0].userEmail">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label">Address</label>
                                            <input type="text" id="txt_address" name="txt_address" class="form-control" placeholder="Type Address" value="@Model[0].userFullAddress">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Country</label>
                                            <select id="countryDropdown" class="form-control" style="width: 100%" value="@Model[0].userCountry" placeholder="select a country"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">State</label>
                                            <select id="statesDropdown" class="form-control" style="width: 100%" value="@Model[0].userState"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">City</label>
                                            <select id="citiesDropdown" class="form-control" style="width: 100%" value="@Model[0].userCity"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Post Code</label>
                                            <input type="text" id="txt_postcode" name="txt_postcode" class="form-control" placeholder="Type Post Code" value="@Model[0].userPinCode">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Website</label>
                                            <input type="text" id="txt_website" name="txt_website" class="form-control" placeholder="Type WebSite" value="@Model[0].userWebsite">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Phone</label>
                                            <input type="text" id="txt_phone" name="txt_phone" class="form-control" placeholder="Type Phone" value="@Model[0].userMobile">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Birthday</label>
                                        <input type="date" id="txt_dob" name="txt_dob" class="form-control" value="@(((DateTime)Model[0].userDOB).ToString("yyyy-MM-dd"))">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Profile Image</label>
                                            <input type="file" id="txt_profile_img" name="profileImage" class="form-control" placeholder="Size should be <2MB">
                                            <small id="profileImgErr" class="text-danger d-none"></small>
                                            <input type="text" id="file_name" value="@Model[0].userImagePath" hidden>
          
                                            @* <div class="dash-avatar">
                                                <a href="#">
                                                <img src="@Url.Action("GetUserImage", "Dashboard")" onerror="this.onerror=null;this.src='../images/user.png';" alt="avatar">
                                                </a>
                                            </div> *@
                                        </div>
                                    </div>

                                    <div class="col-lg-12"><hr></div> <div class="row mb-4">
                                        <div class="col-lg-12">
                                            <button type="button" id="btnUpdateProfile" class="btn btn-inline">
                                                <i class="fas fa-user-check"></i>
                                                <span>update profile</span>
                                            </button>
                                        </div>
                                    </div>
							</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="currency">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Currency</h4>
                    <button class="fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">United States Doller (USD) - $</button>
                    <button class="modal-link">Euro (EUR) - €</button>
                    <button class="modal-link">British Pound (GBP) - £</button>
                    <button class="modal-link">Australian Dollar (AUD) - A$</button>
                    <button class="modal-link">Canadian Dollar (CAD) - C$</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="language">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Language</h4>
                    <button class="fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">English</button>
                    <button class="modal-link">bangali</button>
                    <button class="modal-link">arabic</button>
                    <button class="modal-link">germany</button>
                    <button class="modal-link">spanish</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updatePasswordModal" tabindex="-1" role="dialog" aria-labelledby="updatePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatePasswordModalLabel">Update Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <!-- Email Input Section -->
                        <div id="passwordResetSection">
                            <div class="form-group" style="display: none;">
                                <label for="updatePwdUsername">Enter your Username:</label>
                                <input type="text" id="updatePwdUsername" name="updatePwdUsername" value="@ViewBag.UserName"
                                       class="form-control" placeholder="Enter Phone Number or Email" />
                                <small id="updatePwdUsernameError" style="display:none;" class="text-danger">
                                    Username does not exist
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="CurrentPassword">Enter Current Password:</label>
                                <input type="password" name="CurrentUpdatePassword" id="CurrentUpdatePassword" class="form-control" placeholder="Current Password" />
                                <div id="toggle_currpswd" class="form-icon mt-4" onclick="fn_toggle_pswd('CurrentUpdatePassword','toggle_currpswd');"><i class="eye fas fa-eye-slash"></i></div>
                                <small id="currentUpdatePwdError" style="display: none; color: red"></small>
                            </div>
                            <div class="form-group">
                                <label for="NewPassword">New Password:</label>
                                <input type="password" name="NewUpdatePassword" id="NewUpdatePassword" class="form-control" placeholder="New Password" />
                                <div id="toggle_newpswd" class="form-icon mt-4" onclick="fn_toggle_pswd('NewUpdatePassword','toggle_newpswd');"><i class="eye fas fa-eye-slash"></i></div>
                                <small id="newUpdatePwdError" style="display: none; color: red"></small>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword">Confirm Password:</label>
                                <input type="password" name="ConfirmUpdatePassword" id="ConfirmUpdatePassword" class="form-control" placeholder="Confirm New Password" />
                                <div id="toggle_confpswd" class="form-icon mt-4" onclick="fn_toggle_pswd('ConfirmUpdatePassword','toggle_confpswd');"><i class="eye fas fa-eye-slash"></i></div>
                                <small id="confirmUpdatePwdError" style="display: none; color: red"></small>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" id="resetPasswordButton" onclick="updatePassword()">Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="spinner" class="d-none">
        <img style="height: 100px" src="~/images/spinner.gif" />
    </div>
    <div id="toast" class="d-none"></div>
</body>

<script src="~/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/js/vendor/popper.min.js"></script>
<script src="~/js/vendor/bootstrap.min.js"></script>
<script src="~/js/custom/main.js"> </script>
<script>
    function toggleShippingFields() {
        var shippingSameAsBilling = document.getElementById("shippingSameAsBilling");
        var shippingCity = document.getElementById("shipping_city");
        var shippingState = document.getElementById("shipping_state");
        var shippingPostcode = document.getElementById("shipping_postcode");
        var shippingCountry = document.getElementById("shipping_country");

        var billingCity = document.getElementById("billing_city");
        var billingState = document.getElementById("billing_state");
        var billingPostcode = document.getElementById("billing_postcode");
        var billingCountry = document.getElementById("billing_country");

        if (shippingSameAsBilling.checked) {
            shippingCity.value = billingCity.value;
            shippingState.value = billingState.value;
            shippingPostcode.value = billingPostcode.value;
            shippingCountry.value = billingCountry.value;
        } else {
            shippingCity.value = "";
            shippingState.value = "";
            shippingPostcode.value = "";
            shippingCountry.value = "";
        }
    }

    $(document).ready(function () {
        $('#btnUpdateProfile').click(function (e) {
            validate(e);
        });
    });

    function validate(e) {
        var spinner = document.getElementById('spinner');
        e.preventDefault(); // Prevent default form submission

        var isValid = true;

        var profileImg = $('#txt_profile_img');
        var profileImgErr = $('#profileImgErr');
        var phone = $('#txt_phone');

        // Reset errors
        profileImgErr.addClass('d-none').text('');
        $('#passwordErr').remove();

        // Image Validation
        if (profileImg[0].files.length != 0 && profileImg[0].files[0].size > 2 * 1024 * 1024) {
            profileImgErr.removeClass('d-none').text('Image size should be less than 2 MB');
            isValid = false;
        }

        if (phone.val().trim() === '') {
            phone.addClass('is-invalid');
            phone.after('<small id="passwordErr" class="text-danger">Please enter your phone no</small>');
            isValid = false;
        }

        if (!isValid) {
            ShowToast('failed', 'Please fill all the required details');
        }

        // Submit if valid
        if (isValid) {
            let formData = new FormData($('#SettingsForm')[0]);
            formData.append("txt_Country", $('#countryDropdown option:selected').text());
            formData.append("txt_state", $('#statesDropdown option:selected').text());
            formData.append("txt_city", $('#citiesDropdown option:selected').text());
            spinner.classList.remove('d-none');
            $.ajax({
                url: $('#SettingsForm').attr('action'),
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    spinner.classList.add('d-none');
                    if (response.status.includes("Success")) {
                        ShowToast('success', response.status);
                        location.reload();
                    }
                    else {
                        ShowToast('failed', response.status);
                    }
                    // Optionally reset form or redirect
                    $('#SettingsForm')[0].reset();
                },
                error: function (xhr) {
                    spinner.classList.add('d-none');
                    ShowToast('failed', 'An error occurred while updating your details');
                }
            });
        }
    }

    $(document).ready(function () {
            $.ajax({
                url: '/User/GetCountryName',
                type: 'GET',
                success: function (response) {
                    if (typeof response === "string") {
                        response = JSON.parse(response);
                    }

                    const countries = response
                        .filter(c => c && c.strCountryName)
                        .sort((a, b) => a.strCountryName.localeCompare(b.strCountryName));

                    let $dropdown = $('#countryDropdown');
                    $dropdown.empty();

                    $dropdown.append('<option value="">Please select your country</option>');

                    countries.forEach(function (country) {
                        $dropdown.append(
                            $('<option></option>')
                                .val(country.intCountryID)
                                .text(country.strCountryName)
                        );
                    });
                    const selectedCountry = "@Model[0].userCountry".trim();
                    if (selectedCountry) {
                        let matchedOption = $dropdown.find('option').filter(function () {
                            return $(this).text().trim() === selectedCountry;
                        }).first();
                        if (matchedOption.length) {
                            $dropdown.val(matchedOption.val()).trigger('change');
                        }
                    } else {
                        // Default to "Please select your country"
                        $dropdown.val("").trigger('change');
                    }

                    $dropdown.select2({
                        placeholder: "Select a country",
                        allowClear: true
                    });
                },
                error: function () {
                    alert('Failed to load countries');
                }
            });

        $('#countryDropdown').on('change', function () {
            const selectedCountryId = $(this).val();
            if (selectedCountryId) {
                $.ajax({
                    url: '/User/GetStates',
                    type: 'GET',
                    data: {countryId: selectedCountryId},
                    success: function (states) {
                        if (typeof states === "string") {
                            states = JSON.parse(states);
                        }

                        const filteredStates = states
                            .filter(s => s && s.strStateName && s.IsActive)
                            .sort((a, b) => a.strStateName.localeCompare(b.strStateName));

                        let $stateDropdown = $('#statesDropdown');
                        $stateDropdown.empty().append('<option>Select your state</option>');

                        filteredStates.forEach(function (state) {
                            $stateDropdown.append(
                                $('<option></option>')
                                    .val(state.intStateID)
                                    .text(state.strStateName)
                            );
                        });
                        
                        const selectedState = "@Model[0].userState".trim();
                        if (selectedState) {
                            let matchedOption = $stateDropdown.find('option').filter(function () {
                                return $(this).text().trim() === selectedState;
                            }).first();
                            if (matchedOption.length) {
                                $stateDropdown.val(matchedOption.val()).trigger('change');
                            }
                        } else {
                            $stateDropdown.val("").trigger('change');
                        }

                        $stateDropdown.select2({
                            placeholder: "Select a state",
                            allowClear: true
                        });
                    },
                    error: function () {
                        alert('Failed to load states');
                    }
                });
            } else {
                $('#statesDropdown').empty().trigger('change');
            }
        });

        $('#statesDropdown').on('change', function () {
            const selectedStateId = $(this).val();
            if (selectedStateId) {
                $.ajax({
                    url: '/User/GetCities',
                    type: 'GET',
                    data: {stateId: selectedStateId},
                    success: function (cities) {
                        if (typeof cities === "string") {
                            cities = JSON.parse(cities);
                        }

                        const filteredCities = cities
                            .filter(s => s && s.strCityName && s.IsActive)
                            .sort((a, b) => a.strCityName.localeCompare(b.strCityName));

                        let $cityDropdown = $('#citiesDropdown');
                        $cityDropdown.empty().append('<option>Select your City</option>');

                        filteredCities.forEach(function (city) {
                            $cityDropdown.append(
                                $('<option></option>')
                                    .val(city.intCityID)
                                    .text(city.strCityName)
                            );
                        });

                        const selectedCity = "@Model[0].userCity".trim();
                        if (selectedCity) {
                            let matchedOption = $cityDropdown.find('option').filter(function () {
                                return $(this).text().trim() === selectedCity;
                            }).first();
                            if (matchedOption.length) {
                                $cityDropdown.val(matchedOption.val()).trigger('change');
                            }
                        } else {
                            // Default to "Please select your country"
                            $cityDropdown.val("").trigger('change');
                        }

                        $stateDropdown.select2({
                            placeholder: "Select a city",
                            allowClear: true
                        });
                    },
                    error: function () {
                        alert('Failed to load cities');
                    }
                });
            } else {
                $('#citiesDropdown').empty().trigger('change');
            }
        });
    });

    // function verifyUsername() {
    //     var spinner = document.getElementById('spinner');
    //     var username = $('#updatePwdUsername').val();
    //     spinner.classList.remove('d-none');
    //     $.ajax({
    //             url: '@Url.Action("verifyUserName", "Dashboard")',
    //             type: 'POST',
    //             data: { userName: username }, // Convert email to JSON
    //             success: function (response) {

    //                 spinner.classList.add('d-none');

    //                 if (response.isExist) {


    //                 } else {
    //                         $('#updatePwdUsernameError').show();
    //                 }
    //             },
    //             error: function () {
    //                 spinner.classList.add('d-none');
    //             }
    //     });
    // }

    function fn_toggle_pswd(id) {
        if ($("#"+id).attr('type') === 'password')
            $("#"+id).attr('type', 'text');
        else if ($("#" + id).attr('type') === 'text')
        $("#" + id).attr('type', 'password');
        $("#" + id).focus();

    }

    function updatePassword() {
        var spinner = document.getElementById('spinner');
        var currentPassword = $('#CurrentUpdatePassword').val();
        var currentUpdatePwdError = $('#currentUpdatePwdError')
        var username = $('#updatePwdUsername').val();
        var newPassword = $("#NewUpdatePassword").val();
        var confirmPassword = $('#ConfirmUpdatePassword').val();
        var newPasswordError = $('#newUpdatePwdError');
        var confirmPasswordError = $('#confirmUpdatePwdError');
        var username = $('#updatePwdUsername').val();
        var usernameError = $('#updatePwdUsernameError')
        var userId = 0;

        if ($('#updatePwdUsername').val() == "") {
            usernameError.text("Username does not exist")
            usernameError.show();
        }

        if ($('#CurrentUpdatePassword').val() == "") {
            $('#currentUpdatePwdError').text("Please enter your current password");
            $('#currentUpdatePwdError').show();
        }
        else if ($('#CurrentUpdatePassword').val() != "") {
            spinner.classList.remove('d-none');
            $.ajax({
                url: '@Url.Action("ValidateUpdatePassword", "Dashboard")',
                type: 'GET',
                data: {userName: username, password: currentPassword},
                success: function (response) {
                    if (response.statusCode != 200) {
                        currentUpdatePwdError.text("Current Password is incorrect");
                        $('#currentUpdatePwdError').show();
                    }
                    else {
                        userId = response.userId;
                        if (newPassword === "") {
                            $('#newUpdatePwdError').text("Please enter your new password");
                            newPasswordError.show();
                        }
                        else if (newPassword.length < 6) {
                            $('#newUpdatePwdError').text("Password length should be at least 6 characters");
                            newPasswordError.show();
                        }
                        else if (confirmPassword === "") {
                            confirmPasswordError.text("Please confirm your password");
                            confirmPasswordError.show();
                        }
                        else if (confirmPassword !== newPassword) {
                            confirmPasswordError.text("Passwords did not match");
                            confirmPasswordError.show();
                        } else {
                            spinner.classList.remove('d-none');
                            $.ajax({
                                url: '@Url.Action("UpdatePassword", "Dashboard")',
                                type: 'POST',
                                data: {userId: userId, newPassword: newPassword},
                                success: function (response) {
                                    if (response.message.includes("Success")) {
                                        alert("Password is updated successfully");
                                        //$('#updatePasswordModal').modal('hide');
                                        window.location.href = '@Url.Action("Settings", "User")';
                                    }
                                    else {
                                        alert("Unable to update password at this time");
                                    }
                                }
                            });
                        }
                    }
                    spinner.classList.add('d-none');
                }
            });
        }
    }
</script>
</html>
