<div class="row">
    <div class="col-lg-5">
        <div class="dash-header-left">
            <div class="dash-avatar">
                <a href="#"><img src="" alt="avatar"></a>
            </div>
            <div class="dash-intro">
                <h4><a href="#">@Context.Session.GetString("userName")</a></h4>
                <h5>new seller</h5>
                <ul class="dash-meta" style="padding-left:0px;">
                    <li>
                        <i class="fas fa-phone-alt"></i>
                        <span>@Context.Session.GetString("Mobile")</span>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        <span>@Context.Session.GetString("Email")</span>
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>@Context.Session.GetString("Address")</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="dash-header-right">
            <div class="dash-focus dash-list">
                <h2>@Context.Session.GetInt32("wishlistCount")</h2>
                <p>listing ads</p>
            </div>
            <div class="dash-focus dash-book">
                <h2>0</h2>
                <p>total follower</p>
            </div>
            <div class="dash-focus dash-rev">
                <h2>0</h2>
                <p>total review</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="dash-header-alert alert fade show">
            <p>From your account dashboard. you can easily check & view your recent orders, manage your shipping and billing addresses and Edit your password and account details.</p>
            <button data-dismiss="alert"><i class="fas fa-times"></i></button>
        </div>
    </div>
</div>