<style>
    .navbar-link.active {
        color: #fff;
        background-color: #007bff;
        font-weight: bold;
    }

</style>
<div class="sidebar-body">
    <div class="sidebar-header">
        <a href="~/Dashboard/Dashboard" class="sidebar-logo"><img src="~/images/logo.png" alt="logo"></a>
        <button class="sidebar-cross"><i class="fas fa-times"></i></button>
    </div>
    <div class="sidebar-content">
        <div class="sidebar-profile">
        <a href="#" class="sidebar-avatar">
            @* <img src="images/avatar/01.jpg" alt="avatar"> *@
            </a>
            <a href="#" class="sidebar-avatar"><img src="@Context.Session.GetString("UserImage")" alt="avatar" onerror="this.onerror=null; this.src='/images/user.png';"></a>
        <h4>@Context.Session.GetString("userName")</h4>
            <a class="btn btn-inline sidebar-post" asp-controller="User" asp-action="PostAd">
                <i class="fas fa-plus-circle"></i>
                <span>Post Your Ad</span>
            </a>
        </div>
        <div class="sidebar-menu">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a class="navbar-link @(ViewContext.RouteData.Values["action"].ToString() == "Dashboard" ? "active" : "")" href="@Url.Action("Dashboard", "Dashboard")">Dashboard</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link @(ViewContext.RouteData.Values["action"].ToString() == "Profile" ? "active" : "")" href="@Url.Action("Profile", "User")">Profile</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link @(ViewContext.RouteData.Values["action"].ToString() == "AdPost" ? "active" : "")" href="@Url.Action("AdPost", "User")">Ad Post</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link @(ViewContext.RouteData.Values["action"].ToString() == "MyAds" ? "active" : "")" href="@Url.Action("MyAds", "User")">My Ads</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link @(ViewContext.RouteData.Values["action"].ToString() == "Settings" ? "active" : "")" href="@Url.Action("Settings", "User")">Settings</a>
                </li>

                <li class="navbar-item navbar-dropdown">
                    <a class="navbar-link @(ViewContext.RouteData.Values["action"].ToString() == "Bookmark" ? "active" : "")" href="@Url.Action("Bookmark", "User")">
                        <span>Bookmark</span>
                        <span>@Context.Session.GetInt32("wishlistCount")</span>
                    </a>
                </li>

                <li class="navbar-item navbar-dropdown">
                    <a class="navbar-link @(ViewContext.RouteData.Values["action"].ToString() == "Message" ? "active" : "")" href="@Url.Action("Message", "User")">
                        <span>Message</span>
                        <span>0</span>
                    </a>

                </li>

                <li class="navbar-item navbar-dropdown">
                    <a class="navbar-link @(ViewContext.RouteData.Values["action"].ToString() == "Notification" ? "active" : "")" href="@Url.Action("Notification", "User")">
                        <span>Notification</span>
                        <span>0</span>
                    </a>
                </li>

                <li class="navbar-item"><a class="navbar-link" href="@Url.Action("Logout", "User")">Logout</a></li>
            </ul>
        </div>

        <div class="sidebar-footer">
            <p>All Rights Reserved By <a href="#">Classicads</a></p>
            <p>Developed By <a href="https://themeforest.net/user/mironcoder">Mironcoder</a></p>
        </div>
    </div>
</div>