@model AdListFiltersViewModel
@{
    ViewBag.Title = "Ads List";
}
<!--=====================================
                      SINGLE BANNER PART START
            =======================================-->
<section class="inner-section single-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>ad list</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Dashboard">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ad-list</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
          SINGLE BANNER PART END
=======================================-->
<!--=====================================
                    AD LIST PART START
        =======================================-->
<section class="inner-section ad-list-part">
    <div class="container">
        <div class="row content-reverse">
            <div class="col-lg-4 col-xl-3">
                <div class="row">
                    <div class="col-md-6 col-lg-12">
                        <div class="product-widget">
                            <div class="row align-items-center justify-content-between mb-2">
                                <div class="col-6">
                                    <h6 class="product-widget-title">Filter by Price</h6>
                                </div>
                                <div class="col-6 text-end">
                                    <label class="filter-label mb-1">Sort by:</label>
                                    <select class="form-select form-select-sm w-auto d-inline-block" onchange="sortByPrice(this.value)">
                                        <option value="" selected>Sort</option>
                                        <option value="asc">Min-Max</option>
                                        <option value="desc">Max-Min</option>
                                    </select>
                                </div>
                            </div>

                            <form class="product-widget-form" asp-controller="User" asp-action="productsList" method="get">
                                <div class="product-widget-group">
                                    <input type="text" id="decMinPrice" placeholder="min - 00">
                                    <input type="text" id="decMaxPrice" placeholder="max - 1B">
                                </div>
                                <button type="button" class="product-widget-btn" onclick="updatePriceRange()">
                                    <i class="fas fa-search"></i>
                                    <span>search</span>
                                </button>
                                <br />
                                <button type="button" class="product-widget-btn" onclick="updatePriceRange(null)">
                                    <i class="fas fa-broom"></i>
                                    <span>Clear Filter</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-12">
                        <div class="product-widget">
                            <h6 class="product-widget-title">Filter by type</h6>
                            <form class="product-widget-form">
                                <ul class="product-widget-list">
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox"><input type="checkbox" class="filter-type" onchange="updateAdType('sale', this.checked)" id="filtersale"></div>
                                        <label class="product-widget-label" for="chcek1">
                                            <span class="product-widget-type sale">sales</span>
                                            <span class="product-widget-number">(@Model.Filters[0].totalCount)</span>
                                        </label>
                                    </li>
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox"><input type="checkbox" class="filter-type" onchange="updateAdType('rent', this.checked)" id="filterrent"></div>
                                        <label class="product-widget-label" for="chcek2">
                                            <span class="product-widget-type rent">rental</span>
                                            <span class="product-widget-number">(@Model.Filters[1].totalCount)</span>
                                        </label>
                                    </li>
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox"><input type="checkbox" class="filter-type" onchange="updateAdType('booking', this.checked)" id="filterbooking"></div>
                                        <label class="product-widget-label" for="chcek3">
                                            <span class="product-widget-type booking">booking</span>
                                            <span class="product-widget-number">(@Model.Filters[2].totalCount)</span>
                                        </label>
                                    </li>
                                </ul>
                                <button type="button" class="product-widget-btn" onclick="updateAdType('clear', false)">
                                    <i class="fas fa-broom"></i>
                                    <span>Clear Filter</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-12">
                        <div class="product-widget">
                            <h6 class="product-widget-title">Filter by rating</h6>
                            <form class="product-widget-form">
                                <ul class="product-widget-list">
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox">
                                            <input type="checkbox" id="chcek4">
                                        </div>
                                        <label class="product-widget-label" for="chcek4">
                                            <span class="product-widget-star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="product-widget-number">(45)</span>
                                        </label>
                                    </li>
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox">
                                            <input type="checkbox" id="chcek5">
                                        </div>
                                        <label class="product-widget-label" for="chcek5">
                                            <span class="product-widget-star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="product-widget-number">(55)</span>
                                        </label>
                                    </li>
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox">
                                            <input type="checkbox" id="chcek6">
                                        </div>
                                        <label class="product-widget-label" for="chcek6">
                                            <span class="product-widget-star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="product-widget-number">(65)</span>
                                        </label>
                                    </li>
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox">
                                            <input type="checkbox" id="chcek7">
                                        </div>
                                        <label class="product-widget-label" for="chcek7">
                                            <span class="product-widget-star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="product-widget-number">(75)</span>
                                        </label>
                                    </li>
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox">
                                            <input type="checkbox" id="chcek8">
                                        </div>
                                        <label class="product-widget-label" for="chcek8">
                                            <span class="product-widget-star">
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="product-widget-number">(85)</span>
                                        </label>
                                    </li>
                                </ul>
                                <button type="submit" class="product-widget-btn">
                                    <i class="fas fa-broom"></i>
                                    <span>Clear Filter</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-12">
                        <div class="product-widget">
                            <h6 class="product-widget-title">Filter by Cities</h6>
                            <form class="product-widget-form">
                                <div class="product-widget-search">
                                    <input type="text" id="citySearchInput" onkeyup="filterCities()" placeholder="Search">
                                </div>
                                <ul class="product-widget-list product-widget-scroll">
                                    @foreach (var item in Model.Filters)
                                    {
                                        if (@item.CategoryType == "Cities")
                                        {
                                            <li class="product-widget-item city-item">
                                                <div class="product-widget-checkbox">
                                                    <input type="checkbox" class="city-filter-checkbox" id="city_@item.CategoryValue" onchange="updateCity('@item.CategoryValue', this.checked)">
                                                </div>
                                                <label class="product-widget-label" for="check_@item.CategoryValue">
                                                    <span class="product-widget-text city-text">@item.CategoryValue</span>
                                                    <span class="product-widget-number">(@item.totalCount)</span>
                                                </label>
                                            </li>
                                        }
                                    }
                                </ul>
                                <button type="button" id="clearCityFilterBtn" class="product-widget-btn" onclick="updateCity('clear', false)">
                                    <i class="fas fa-broom"></i>
                                    <span>Clear Filter</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-12">
                        <div class="product-widget">
                            <h6 class="product-widget-title">Filter by popularity</h6>
                            <form class="product-widget-form">
                                <div class="product-widget-search">
                                    <input type="text" placeholder="Search">
                                </div>
                                <ul class="product-widget-list product-widget-scroll">
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox">
                                            <input type="checkbox" id="chcek9">
                                        </div>
                                        <label class="product-widget-label" for="chcek9">
                                            <span class="product-widget-text">laptop</span>
                                            <span class="product-widget-number">(68)</span>
                                        </label>
                                    </li>
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox">
                                            <input type="checkbox" id="chcek10">
                                        </div>
                                        <label class="product-widget-label" for="chcek10">
                                            <span class="product-widget-text">camera</span>
                                            <span class="product-widget-number">(78)</span>
                                        </label>
                                    </li>
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox">
                                            <input type="checkbox" id="chcek11">
                                        </div>
                                        <label class="product-widget-label" for="chcek11">
                                            <span class="product-widget-text">television</span>
                                            <span class="product-widget-number">(34)</span>
                                        </label>
                                    </li>
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox">
                                            <input type="checkbox" id="chcek12">
                                        </div>
                                        <label class="product-widget-label" for="chcek12">
                                            <span class="product-widget-text">by cycle</span>
                                            <span class="product-widget-number">(43)</span>
                                        </label>
                                    </li>
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox">
                                            <input type="checkbox" id="chcek13">
                                        </div>
                                        <label class="product-widget-label" for="chcek13">
                                            <span class="product-widget-text">bike</span>
                                            <span class="product-widget-number">(57)</span>
                                        </label>
                                    </li>
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox">
                                            <input type="checkbox" id="chcek14">
                                        </div>
                                        <label class="product-widget-label" for="chcek14">
                                            <span class="product-widget-text">private car</span>
                                            <span class="product-widget-number">(67)</span>
                                        </label>
                                    </li>
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox">
                                            <input type="checkbox" id="chcek15">
                                        </div>
                                        <label class="product-widget-label" for="chcek15">
                                            <span class="product-widget-text">air condition</span>
                                            <span class="product-widget-number">(98)</span>
                                        </label>
                                    </li>
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox">
                                            <input type="checkbox" id="chcek16">
                                        </div>
                                        <label class="product-widget-label" for="chcek16">
                                            <span class="product-widget-text">apartment</span>
                                            <span class="product-widget-number">(45)</span>
                                        </label>
                                    </li>
                                    <li class="product-widget-item">
                                        <div class="product-widget-checkbox">
                                            <input type="checkbox" id="chcek17">
                                        </div>
                                        <label class="product-widget-label" for="chcek17">
                                            <span class="product-widget-text">watch</span>
                                            <span class="product-widget-number">(76)</span>
                                        </label>
                                    </li>
                                </ul>
                                <button type="submit" class="product-widget-btn">
                                    <i class="fas fa-broom"></i>
                                    <span>Clear Filter</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-12">
                        <div class="product-widget">
                            <h6 class="product-widget-title">filter by category</h6>
                            <form class="product-widget-form">
                                <div class="product-widget-search">
                                    <input type="text" placeholder="search" id="categorySearch" onkeyup="filterCategories()">
                                </div>
                                <ul class="product-widget-list product-widget-scroll">
                                    @foreach (var item in Model.Categories)
                                    {
                                        <li class="product-widget-dropitem category-item">
                                            <button type="button" class="product-widget-link" onclick="updateCategory('@item.CategoryID')">
                                                <i class="fas fa-tags"></i>
                                                @item.CategoryName (@item.CategoryCount)
                                            </button>
                                            <ul class="product-widget-dropdown">
                                                @foreach (var subCat in item.subCategories)
                                                {
                                                    <li><a class="product-subcategory" onclick="updateSubCategory('@subCat.subCategoryID', '@item.CategoryID')">@subCat.subCatergoryName (@subCat.intSubCategoryCount)</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                                <button type="button" class="product-widget-btn" onclick="updateCategory('0')">
                                    <i class="fas fa-broom"></i>
                                    <span>Clear Filter</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-filter">
                            <div class="filter-show">
                                <label class="filter-label">Show :</label>
                                <select class="custom-select filter-select">
                                    <option value="1">12</option>
                                    <option value="2">24</option>
                                    <option value="3">36</option>
                                </select>
                            </div>
                            <div class="filter-short">
                                <label class="filter-label">Sort by :</label>
                                <select class="custom-select filter-select" onchange="sortByPrice(this.value)">
                                    <option selected>default</option>
                                    <option value="4">Price(min-max)</option>
                                    <option value="5">Price(max-min)</option>
                                    <option value="3">trending</option>
                                    <option value="1">featured</option>
                                    <option value="2">recommend</option>
                                </select>
                            </div>
                            <div class="filter-action">
                                <a href="ad-column3.html" title="Three Column" class="active"><i class="fas fa-th"></i></a>
                                <a href="ad-column2.html" title="Two Column"><i class="fas fa-th-large"></i></a>
                                <a href="ad-column1.html" title="One Column"><i class="fas fa-th-list"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="divPartial">
                    @Html.Partial("_ProductsPartial", Model.Products)
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
            AD LIST PART END
=======================================-->
<!--=====================================
            FOOTER PART PART
=======================================-->
<footer class="footer-part">
    <div class="container">
        <div class="row newsletter">
            <div class="col-lg-6">
                <div class="news-content">
                    <h2>Subscribe for Latest Offers</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, aliquid reiciendis! Exercitationem soluta provident non.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <form class="news-form">
                    <input type="text" placeholder="Enter Your Email Address">
                    <button class="btn btn-inline">
                        <i class="fas fa-envelope"></i>
                        <span>Subscribe</span>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="footer-content">
                    <h3>Contact Us</h3>
                    <ul class="footer-address">
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <p>1420 West Jalkuri Fatullah, <span>Narayanganj, BD</span></p>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <p>support@classicads.com <span>info@classicads.com</span></p>
                        </li>
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            <p>+8801838288389 <span>+8801941101915</span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="footer-content">
                    <h3>Quick Links</h3>
                    <ul class="footer-widget">
                        <li><a href="#">Store Location</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Size Guide</a></li>
                        <li><a href="#">Faq</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="footer-content">
                    <h3>Information</h3>
                    <ul class="footer-widget">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery System</a></li>
                        <li><a href="#">Secure Payment</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="footer-info">
                    <a href="#"><img src="~/images/logo.png" alt="logo"></a>
                    <ul class="footer-count">
                        <li>
                            <h5>929,238</h5>
                            <p>Registered Users</p>
                        </li>
                        <li>
                            <h5>242,789</h5>
                            <p>Community Ads</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-card-content">
                    <div class="footer-payment">
                        <a href="#"><img src="~/images/pay-card/01.jpg" alt="01"></a>
                        <a href="#"><img src="~/images/pay-card/02.jpg" alt="02"></a>
                        <a href="#"><img src="~/images/pay-card/03.jpg" alt="03"></a>
                        <a href="#"><img src="~/images/pay-card/04.jpg" alt="04"></a>
                    </div>
                    <div class="footer-option">
                        <button type="button" data-toggle="modal" data-target="#language"><i class="fas fa-globe"></i>English</button>
                        <button type="button" data-toggle="modal" data-target="#currency"><i class="fas fa-dollar-sign"></i>USD</button>
                    </div>
                    <div class="footer-app">
                        <a href="#"><img src="~/images/play-store.png" alt="play-store"></a>
                        <a href="#"><img src="~/images/app-store.png" alt="app-store"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-end">
        <div class="container">
            <div class="footer-end-content">
                <p>All Copyrights Reserved &copy; 2021 - Developed by <a href="#">Mironcoder</a></p>
                <ul class="footer-social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--=====================================
            FOOTER PART END
=======================================-->
<!--=====================================
          CURRENCY MODAL PART START
=======================================-->
<div class="modal fade" id="currency">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Choose a Currency</h4>
                <button class="fas fa-times" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <button class="modal-link active">United States Doller (USD) - $</button>
                <button class="modal-link">Euro (EUR) - €</button>
                <button class="modal-link">British Pound (GBP) - £</button>
                <button class="modal-link">Australian Dollar (AUD) - A$</button>
                <button class="modal-link">Canadian Dollar (CAD) - C$</button>
            </div>
        </div>
    </div>
</div>
<!--=====================================
          CURRENCY MODAL PART END
=======================================-->
<!--=====================================
          LANGUAGE MODAL PART END
=======================================-->
<div class="modal fade" id="language">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Choose a Language</h4>
                <button class="fas fa-times" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <button class="modal-link active">English</button>
                <button class="modal-link">bangali</button>
                <button class="modal-link">arabic</button>
                <button class="modal-link">germany</button>
                <button class="modal-link">spanish</button>
            </div>
        </div>
    </div>
</div>
<!--=====================================
           LANGUAGE MODAL PART END
=======================================-->

<script type="text/javascript">
    function AddToWishlist(button, productID, createdBy) {
        var isInWishlist = button.classList.contains("fas");
        $.ajax({
            url: '/User/UpdateBookmarks',
            type: 'POST',
            data: { productID: productID, createdBy: createdBy, status: isInWishlist ? 0 : 1 },
            success: function (response) {
                if (response.statusCode != 200) {
                    alert('Error in processing request.');
                }
            },
            error: function () {
                alert('Error in processing request.');
            }
        });
    }


    var selectedCities = [];
    var selectedAdTypes = [];
    let categoryId = 0;
    let subCategoryId = 0;
    var minPrice = null;
    var maxPrice = null;
    var sort = "";

    function updatePriceRange(type) {
        minPrice = parseFloat($('#decMinPrice').val());
        maxPrice = parseFloat($('#decMaxPrice').val());

        if (type === null) {
            minPrice = null;
            maxPrice = null;
            $('#decMinPrice').val('');
            $('#decMaxPrice').val('');
            //$('.form-select').val("0");
        }
        updateAdList();
    }


    function updateAdList() {
        var strCity = selectedCities.join(',');
        var adtype = selectedAdTypes.join(',');
        var categoryid = categoryId;
        var subcategoryid = subCategoryId;
        var decMinPrice = parseFloat($('#decMinPrice').val());
        var decMaxPrice = parseFloat($('#decMaxPrice').val());
        $('#divPartial').html('<div style="text-align:center; margin-top:500px;"><img src="/images/Hourglass.gif" /></div>');
        $.ajax({
          url: '/User/ProductList',
          type: 'GET',
          data: {decMinPrice: decMinPrice, decMaxPrice: decMaxPrice, adtype: adtype, strCity: strCity, categoryid: categoryid, subcategoryid: subcategoryid, sort: sort},
          contentType: 'application/json',
          success: function (data) {
            $('#divPartial').html(data); // Load updated product list
          }
        });
    }

    function updateCategory(cat)
    {
        categoryId = cat;
        updateAdList();
    }

    function updateSubCategory(subcat, cat) {
        subCategoryId = subcat;
        categoryId = cat;
        updateAdList();
    }

    function updateCity(city, isChecked) {
        if (city === 'clear') {
            selectedCities = [];
            document.querySelectorAll('.city-filter-checkbox').forEach(btn => {
                btn.checked = false;
            });
        }
        else if (isChecked) {
            selectedCities.push(city.toLowerCase());
        } else {
            selectedCities = selectedCities.filter(c => c !== city.toLowerCase());
        }
        updateAdList();
    }
    function updateAdType(type, isChecked) {
        if (type === 'clear') {
            document.querySelectorAll('.filter-type').forEach(btn => {
                 btn.checked = false;
             });
            selectedAdTypes = [];
        }
        else if (isChecked) {
            selectedAdTypes.push(type.toLowerCase());
        } else {
            selectedAdTypes = selectedAdTypes.filter(t => t !== type.toLowerCase());
        }
        updateAdList();
    }

    function sortByPrice(type) {
        sort = type;
        updateAdList();
    }

    $(document).ready(function () {
        // Ad Type Checkbox
        $('.filter-type').on('change', function () {
            var type = $(this).val();
            updateAdType(type, $(this).is(':checked'));
        });

        // Category Checkbox
        $('.filter-category').on('change', function () {
            var catId = $(this).val();
            updateCategory(catId, $(this).is(':checked'));
        });

        // City Checkbox
        $('.filter-city').on('change', function () {
            var city = $(this).val();
            updateCity(city, $(this).is(':checked'));
        });

        // Price Range
        $('#priceFilterButton').on('click', function () {
            updatePriceRange();
        });
    });

    function filterCities() {
        const input = document.getElementById("citySearchInput");
        const filter = input.value.toLowerCase();
        const items = document.querySelectorAll(".city-item");

        items.forEach(item => {
            const cityName = item.querySelector(".city-text").textContent.toLowerCase();
            if (cityName.includes(filter)) {
                item.style.display = "";
            } else {
                item.style.display = "none";
            }
        });
    }

    function filterCategories() {
        const input = document.getElementById('categorySearch');
        const filter = input.value.toLowerCase();
        const categoryItems = document.querySelectorAll('.category-item');

        categoryItems.forEach(function (item) {
            const categoryText = item.querySelector('.product-widget-link').innerText.toLowerCase();
            const subDropdown = item.querySelector('.product-widget-dropdown');
            const subcategories = subDropdown.querySelectorAll('.product-subcategory');

            let categoryMatch = categoryText.includes(filter);
            let subcategoryMatch = false;

            // Always reset subcategory visibility
            subcategories.forEach(sub => sub.parentElement.style.display = '');

            if (filter === '') {
                item.style.display = '';
                subDropdown.style.display = 'none';
            } else {
                if (categoryMatch) {
                    item.style.display = '';
                    subDropdown.style.display = 'none'; // Don't expand dropdown
                    // Show all subcategories because category matched
                    subcategories.forEach(sub => sub.parentElement.style.display = '');
                } else {
                    // Check for subcategory matches
                    let anySubMatch = false;
                    subcategories.forEach(function (sub) {
                        const subText = sub.innerText.toLowerCase();
                        const li = sub.parentElement;
                        if (subText.includes(filter)) {
                            li.style.display = '';
                            anySubMatch = true;
                        } else {
                            li.style.display = 'none';
                        }
                    });

                    if (anySubMatch) {
                        item.style.display = '';
                        subDropdown.style.display = 'block'; // Expand because subcategory matched
                    } else {
                        item.style.display = 'none';
                        subDropdown.style.display = 'none';
                    }
                }
            }
        });
    }

    function AdsListSearch() {
        var city = $('#city').val();
        var state = $('#state').val();
        var minPrice = $('#minPrice').val();
        var maxPrice = $('#maxPrice').val();
        var productName = $('#productName').val();

        // Construct query string from inputs
        var queryParams = `?strProductName=${encodeURIComponent(productName)}&strCity=${encodeURIComponent(city)}&strState=${encodeURIComponent(state)}&decMinPrice=${encodeURIComponent(minPrice)}&decMaxPrice=${encodeURIComponent(maxPrice)}`;

        // Navigate to the AdsList page with query params
        window.location.href = '/User/navSearch' + queryParams;
    }

</script>
