@model dynamic
@{
    var job = Model?.JobNews as JobNewsViewModel;
    var categories = Model?.Categories as List<JobNewsCategoryViewModel>;
    var isEditMode = job != null;
    ViewBag.Title = isEditMode ? "Edit Blog Post" : "Create New Blog Post";
}
<!--=====================================
                      SINGLE BANNER PART START
            =======================================-->
<section class="inner-section single-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>Job Post</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Dashboard">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Job Post</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
          SINGLE BANNER PART END
=======================================-->
<section class="">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <h2 style="color:#0044bb">Job Post</h2>
                </div>
                <div class="d-flex justify-content-end col-2">
                    <a type="button" class="btn btn-secondary" asp-action="Dashboard" asp-controller="Dashboard">Cancel</a>
                </div>
            </div>

            <div class="col-12 p-2">
                <form id="JobPost" asp-action="@(isEditMode ? "UpdateJobPost" : "JobPost")" method="post" enctype="multipart/form-data" novalidate>
                    @if (isEditMode)
                    {
                        <input type="hidden" name="JobNewsID" value="@job.JobNewsID" />
                    }
                    <div class="mb-3">
                        <label class="form-label">Job Title <span class="text-danger">*</span></label>
                        <input class="form-control" name="Title" required value="@(isEditMode? job.Title: "")" />
                        <span class="text-danger"></span>
                    </div>

                    @* <div class="mb-3">
                        <label class="form-label">Main Image <span class="text-danger">*</span></label>
                        <input type="file" class="form-control" name="featuredImageFile" accept="image/*" required onchange="previewMainImage(event)" />
                        <span class="text-danger"></span>
                        @if (isEditMode && job.featuredImage != null)
                        {
                            <img id="mainImagePreview" src="data:image/png;base64,@Convert.ToBase64String(job.FeaturedImage)"
                                 class="img-thumbnail mb-2" style="max-height: 200px;" />
                        }
                        else
                        {
                            <img id="mainImagePreview" src="#" alt="Preview"
                                 class="img-thumbnail mb-2 d-none" style="max-height: 200px;" />
                        }
                    </div> *@

                    <div class="mb-3">
                        <label class="form-label">Summary <span class="text-danger">*</span></label>
                        <input class="form-control" name="Summary" required value="@(isEditMode? job.Summary: "")" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Content <span class="text-danger">*</span></label>
                        <textarea class="form-control" name="Content" rows="5" required>@(isEditMode? job.Content: "")</textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Company Name <span class="text-danger">*</span></label>
                        <input class="form-control" name="CompanyName" required value="@(isEditMode? job.CompanyName: "")" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Job Location <span class="text-danger">*</span></label>
                        <input class="form-control" name="JobLocation" required value="@(isEditMode? job.JobLocation: "")" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Job Type <span class="text-danger">*</span></label>
                        <input class="form-control" name="JobType" required value="@(isEditMode? job.JobType: "")" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Experience Level <span class="text-danger">*</span></label>
                        <input class="form-control" name="ExperienceLevel" required value="@(isEditMode? job.ExperienceLevel: "")" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Salary Range <span class="text-danger">*</span></label>
                        @* <input class="form-control" name="SalaryRange" required value="@(isEditMode? job.SalaryRange: "")" /> *@
                        <input type="range"
                               class="form-range"
                               name="SalaryRange"
                               id="salaryRange"
                               min="0"
                               max="1000000"
                               step="1000"
                               value="@(isEditMode? job.SalaryRange: "50000")"
                               required
                               oninput="document.getElementById('rangeValue').innerText = this.value" />

                        <div>Selected: ₹<span id="rangeValue">@((isEditMode ? job.SalaryRange : "50000"))</span></div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Application Deadline <span class="text-danger">*</span></label>
                        <input type="datetime" class="form-control" name="Deadline" required value="@(isEditMode? job.ApplicationDeadline: "")" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Application Url <span class="text-danger">*</span></label>
                        <textarea class="form-control" name="ApplicationUrl" rows="5" required>@(isEditMode? job.ApplicationUrl: "")</textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Contact Email <span class="text-danger">*</span></label>
                        <input class="form-control" name="Email" required value="@(isEditMode? job.ContactEmail: "")" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Tags <span class="text-danger">*</span></label>
                        <input class="form-control" name="Tags" required value="@(isEditMode? job.Tags: "")" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Category <span class="text-danger">*</span></label>
                        <select id="category" class="custom-select filter-select" name="CategoryID" required>
                            <option value="" disabled selected>Select a Category</option>
                            @foreach (var category in categories)
                            {
                                <option value="@category.CategoryID" selected="@(isEditMode && job.CategoryID == category.CategoryID ? "selected" : null)">
                                    @category.CategoryName
                                </option>
                            }
                        </select>
                    </div>

                    <div class="text-center d-flex justify-content-end">
                        <button type="button" class="btn btn-inline" onclick="JobPost()">Submit Job</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<script>
    function previewMainImage(event) {
         const mainImagePreview = document.getElementById('mainImagePreview');
         if (event.target.files && event.target.files[0]) {
             const reader = new FileReader();
             reader.onload = function (e) {
                 mainImagePreview.src = e.target.result;
                 mainImagePreview.classList.remove('d-none');
             };
             reader.readAsDataURL(event.target.files[0]);
         } else {
             mainImagePreview.src = '#';
             mainImagePreview.classList.add('d-none');
         }
     }
    // Function to handle form submission
    function JobPost() {
         var form = document.getElementById('JobPost');
         if (!form.checkValidity()) {
             form.classList.add('was-validated');
             form.reportValidity();
             return;
         }
         let formData = new FormData(form);
         formData.append("CategoryName", $('#category option:selected').text());
         $.ajax({
             url: '@Url.Action(isEditMode ? "EditJob" : "JobPost", "JobNews")',
             type: 'POST',
             data: formData,
             contentType: false,
             processData: false,
             success: function (response) {
                 alert('Job Posted successfully!');
                 window.location.href = '@Url.Action("Dashboard", "Dashboard")';
             },
             error: function (xhr, status, error) {
                 alert('An error occurred while submitting the blog post.');
                 console.error(error);
             }
          });
      }
</script>
